<!-- <form [formGroup]="reportingForm"> -->
<div class="row">
  <div class="col">
    Does this PNR contain travel to any countries listed below?
  </div>
</div>

<div class="row">
  <div class="col">
    <select>
      <option *ngFor="let item of countryList">{{item}}</option>
    </select>
  </div>
</div>


<div class="row">
  <div class="col">
    BSP Routing Code :
    <select id="bspRouteCode" class="form-control" [(ngModel)]="reportingView.routeCode"
      [disabled]='reportingView.isDisabled'>
      <option *ngFor="let item of bspRouteCodeList" [value]="item.itemValue">
        {{item.itemText}}
      </option>
    </select>
  </div>

  <div class="col">

    Destination Code:
    <select id="destinationList" [(ngModel)]="reportingView.destination" class="form-control" name="destinationList"
      [disabled]='reportingView.isDisabledDest'>
      <option *ngFor="let p of destinationList" [value]="p.endpoint">
        {{p.endpoint}}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col">
    Name of Company Traveller Works For:
    <input type="text" class="form-control" [(ngModel)]="reportingView.companyName" id="companyName"
      placeholder="e.g. CWT" />
  </div>
</div>

<div class="row">
  <div class="col">
    No Fee Reason:
    <input type="text" class="form-control" maxlength="35" [(ngModel)]="reportingView.noFeeReason" id="noFeeReason"
      placeholder="Enter No Fee Reason" [disabled]="checkSFC()" />
    <!-- [disabled]='reportingView.isDisabledReason'> -->
  </div>
</div>

<div class="row">
  <div class="col">
    Did client accept cancellation insurance?
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="radio" name="showInsurance" (change)="isHidden=!isHidden" checked="true"
      [disabled]="checkInsurance()" />Yes - Cancellation Insurance Accepted
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="radio" name="showInsurance" (change)="isHidden=!isHidden" [disabled]="checkInsurance()" />No -
    Cancellation Insurance Declined
  </div>
</div>

 -->