<form [formGroup]="itineraryForm">
  <div class="itineraryContainer">
    <div class="row" *ngIf="displayMessage !== ''">
      <div class="col-sm-3"></div>
      <div class="col displayMsg">
        <p [innerHTML]="displayMessage"></p>
      </div>
    </div>
    <div formArrayName="emailAddresses" *ngFor="let item of this.itineraryForm.get('emailAddresses')['controls']; let i = index">
      <div [formGroupName]="i" class="form-group row">
        <div class="col-sm-3">Email Address {{ i + 1 }}:</div>
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            formControlName="emailAddress"
            id="emailAddress"
            list="dynamicEmail"
            AllCapsMask
            formControlName="emailAddress"
          />
          <datalist id="dynamicEmail">
            <option *ngFor="let item of listEmail" [value]="item">{{ item }} </option>
          </datalist>
        </div>
        <div *ngIf="remove" class="">
          <i class="fas fa-minus-circle" id="remove" (click)="removeItems(i, 'email')"> </i>
        </div>
        <div *ngIf="add" class="">
          &nbsp;
          <i class="fas fa-plus-circle" id="add" (click)="addItems('email')"></i>
        </div>
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-3">Language:</div>
      <div class="col-sm-4">
        <select autofocus id="language" class="form-control" formControlName="language" name="language">
          <option *ngFor="let item of languageList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group  row" *ngIf="isLeisure">
      <div class="col-sm-3">Type of Transanction:</div>
      <div class="col-sm-4">
        <select autofocus id="typeTransaction" class="form-control" formControlName="typeTransaction" name="typeTransaction">
          <option *ngFor="let item of transactionTypeList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="f.typeTransaction.value === 'itinerary' || f.typeTransaction.value === 'invoice'">
      <div class="row form-group">
        <div class="col-sm-3"></div>
        <div class="note col-sm-4">Services:</div>
      </div>

      <div formArrayName="services" *ngFor="let item of this.itineraryForm.get('services')['controls']; let i = index">
        <div [formGroupName]="i" class="form-group row">
          <div class="col-sm-3"></div>
          <div class="col-4">
            <input
              type="text"
              class="form-control"
              formControlName="service"
              id="service"
              AllCapsMask
              formControlName="service"
              maxlength="65"
            />
          </div>
          <div *ngIf="removeservice" class="">
            <i class="fas fa-minus-circle" id="remove" (click)="removeItems(i, 'service')"> </i>
          </div>
          <div *ngIf="addservice" class="">
            &nbsp;
            <i class="fas fa-plus-circle" id="add" (click)="addItems('service')"></i>
          </div>
        </div>
      </div>

      <!-- <div class="row form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">Remarks Appear at top of Invoice in RED.</div>
      </div> -->
      <div class="row form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-4 note">Tickets:</div>
      </div>
      <div formArrayName="tickets" *ngFor="let item of this.itineraryForm.get('tickets')['controls']; let i = index">
        <div [formGroupName]="i" class="form-group row">
          <div class="col-sm-3"></div>
          <div class="col-4">
            <input
              type="text"
              class="form-control"
              formControlName="ticket"
              id="ticket"
              AllCapsMask
              formControlName="ticket"
              maxlength="65"
            />
          </div>
          <div *ngIf="removeticket">
            <i class="fas fa-minus-circle" id="remove" (click)="removeItems(i, 'ticket')"> </i>
          </div>
          <div *ngIf="addticket">
            &nbsp;
            <i class="fas fa-plus-circle" id="add" (click)="addItems('ticket')"></i>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="f.typeTransaction.value === 'itinerary'">
      <div class="row form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">Remarks Appear at top of Invoice in RED.</div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-4 note">Offers:</div>
      </div>
      <div formArrayName="offers" *ngFor="let item of this.itineraryForm.get('offers')['controls']; let i = index">
        <div [formGroupName]="i" class="form-group row">
          <div class="col-sm-3"></div>
          <div class="col-4">
            <input type="text" class="form-control" formControlName="offer" id="offer" AllCapsMask formControlName="offer" maxlength="65" />
          </div>
          <span *ngIf="removeoffer" class="">
            <i class="fas fa-minus-circle" id="remove" (click)="removeItems(i, 'offer')"> </i>
          </span>
          <span *ngIf="addoffer" class="">
            &nbsp;
            <i class="fas fa-plus-circle" id="add" (click)="addItems('offer')"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>
