
<ngb-tabset>

<ngb-tab>
  <ng-template ngbTabTitle>Tour Segments</ng-template>
  <ng-template ngbTabContent>
        <app-tour-segment></app-tour-segment>
  </ng-template>
</ngb-tab>
<!-- <ngb-tab>
    <ng-template ngbTabTitle>Air Segments</ng-template>
  <ng-template ngbTabContent>  
  </ng-template>
</ngb-tab>
<ngb-tab>
  <ng-template ngbTabTitle>Rail Segments</ng-template>
<ng-template ngbTabContent>  
</ng-template>
</ngb-tab>

<ngb-tab>
  <ng-template ngbTabTitle>Car Segments</ng-template>
<ng-template ngbTabContent>  
</ng-template>
</ngb-tab> -->
</ngb-tabset>