<tabset>
  <tab heading="Tour Segments">
    <app-tour-segment></app-tour-segment>
  </tab>
  <tab heading="Air Segments">Basic content 1</tab>
  <tab heading="Rail Segments">Basic content 2</tab>
  <tab heading="Car Segments">Basic content 2</tab>
</tabset>

<!-- <ngb-tabset>

<ngb-tab>
  <ng-template ngbTabTitle>Tour Segments</ng-template>
  <ng-template ngbTabContent>
        <app-tour-segment></app-tour-segment>
  </ng-template>
</ngb-tab>
<ngb-tab>
    <ng-template ngbTabTitle>Air Segments</ng-template>
  <ng-template ngbTabContent>  
  </ng-template>
</ngb-tab>
<ngb-tab>
  <ng-template ngbTabTitle>Rail Segments</ng-template>
<ng-template ngbTabContent>  
</ng-template>
</ngb-tab>

<ngb-tab>
  <ng-template ngbTabTitle>Car Segments</ng-template>
<ng-template ngbTabContent>  
</ng-template>
</ngb-tab>
</ngb-tabset> -->