<tabset id="remarksTab">
  <tab heading="Follow-up Queue" id="queue" tabOrder="1">
    <app-itinerary-invoice-queue [workflow]="'wrap'"></app-itinerary-invoice-queue>
  </tab>
  <tab heading="Queue Placement" id="queueMinder" tabOrder="2" *ngIf="isEsc">
    <app-queue-minder> </app-queue-minder>
  </tab>
  <tab heading="OFC Documentation & Queue" id="ofcDocumentation" tabOrder="3" *ngIf="isOfc">
    <app-ofc-documentation></app-ofc-documentation>
  </tab>
  <tab heading="Client Queue" id="rules" tabOrder="4" *ngIf="hasRules">
    <app-container [containerFilter]="'QUEUE'"></app-container>
  </tab>
  <tab heading="CWT Itinerary" id="CWTItin" tabOrder="5">
    <app-itinerary [workflow]="'wrap'"></app-itinerary>
  </tab>
</tabset>
