# IDE
.vscode/

# Misc
.project
**/.project
.classpath
**/.classpath
target
**/target
.settings
**/.settings
**/coverage
**/node_modules

# Generated
dist/
node_modules/

# For devs
!index.html
src/index.html

# RobotFramework
reports/
log.html
output.xml
report.html
*.libspec
*.jpg
red.xml
*.png
test-suite/resources/common/global_resources.robot 
/libspecs/
test-suite/acceptance-corporate/test/payment/individual_pass_purchase.robot
test-suite/acceptance-corporate/test/payment/individual_pass_purchase.robot
test-suite/acceptance-corporate/test/payment/individual_pass_purchase.robot
test-suite/acceptance-corporate/test/payment/individual_pass_purchase.robot
test-suite/acceptance-corporate/test/payment/individual_pass_purchase.robot
test-suite/acceptance-corporate/test/payment/individual_pass_purchase.robot
*.robot
test-suite/acceptance-corporate/test/payment/individual_pass_purchase.robot
