# These owners will be the default owners for everything in the repo.
*       @rizaliemallari @PhilipMon @warrickgo @MicoPerez @StanBTeh

# For QA
*test-suite/       @maridelcastro @ChuckieVelasquez @RoseJuarez
