# These owners will be the default owners for everything in the repo.
*       @rizaliemallari @PhilipMon @warrickgo @MicoPerez @StanBTeh

# test-suite folder ownership for QAs
/test-suite/       @maridelcastro @ChuckieVelasquez @RoseJuarez
