<div *ngIf="isMatrixPnr">
  <form [formGroup]="invoiceMessageForm">
    <div class="row">
      <div class="col-2">
        <div class="iconHolder"><i [ngClass]="iconClass"></i></div>
      </div>
      <div class="col message" [innerHTML]="message"></div>
    </div>

    <div class="form-group  row" *ngIf="isOFC">
      <div class="col-sm-4"><label id="lblName">File Finishers : </label> <br /></div>
      <div class="col-sm-4">
        <input
          type="radio"
          id="rbFileFinisher"
          name="rbFileFinisher"
          formControlName="rbFileFinisher"
          [(ngModel)]="matrixReporting.mode"
          value="YES"
          (change)="setADTValue()"
        />
        YES
        <input
          type="radio"
          id="rbFileFinisher"
          name="rbFileFinisher"
          formControlName="rbFileFinisher"
          [(ngModel)]="matrixReporting.mode"
          value="NO"
          (change)="setADTValue()"
        />
        NO
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label id="lblCIC">CIC Number: </label>
      </div>
      <div class="col-sm-4">
        <input formControlName="cicNumber" type="text" class="form-control" [(ngModel)]="matrixReporting.cicNumber" maxlength="3" />
      </div>
    </div>
  </form>
</div>
