.segmentbox {
    width: 140px;
    border: 1px gray;
}
.email-list {
    padding: 5px 0px 0px 2px;
}
.invoice-list {
    padding: 5px 0px 0px 2px;
}
.segment-list {
    padding: 5px 0px 0px 2px;
}
.fee-accounting-list {
    padding: 5px 0px 0px 2px;
}
.non-bsp-accounting-list {
    padding: 5px 0px 0px 2px;
}