    <form [formGroup]="hotelSegments" class="form-group" >
      <div class="documentContainer">
        <table>
          <tr>
            <td class="column-header" style="padding-left: 9px;">
              Select
            </td>
    
            <td class="column-header" style="padding-left: 11px;">
              Check-In Date
            </td>
    
            <td class="column-header">
              Check-In Month
            </td>
    
            <td class="column-header">
              Hotel Savings
            </td>
    
            <td class="column-header" style="text-align: left;">
              Chain Code
            </td>
          </tr>
        </table>
    
        <div formArrayName="hotels" name="hotels" *ngFor="let item of this.hotelSegments.get('hotels')['controls']; let i = index" class="col">
          <div [formGroupName]="i">
            <table style="width:100%">
              <tr>
                <td style="width: 16%">
                   <input type="checkbox" name="chkIncluded" formControlName="chkIncluded" id="chkIncluded" />
                </td>
    
                <td style="width: 16%">
                  <input style="width:100%" formControlName="checkInDate" type="text" class="form-control" maxlength="2" required  />
                </td>
    
                <td style="width: 16%">
                  <input style="width:100%" formControlName="checkInMonth" type="text" class="form-control" maxlength="55" required />
                </td>
    
                <td style="width: 16%">
                    <select autofocus id="hotelSavingsCode" class="form-control" formControlName="hotelSavingsCode" name="hotelSavingsCode">
                        <option [ngValue]="null"></option>
                        
                      </select>
                </td>
                <td style="width: 12%">
                    <input formControlName="chainCode" type="text" class="form-control"  />
                </td>
     
              </tr>
            </table>
          </div>
        </div>
      </div>
    </form>
    