.genericbox button {
    float: right;
    margin: 0px;
  }
  
  .genericbox {
    width: 140px;
    border: 1px gray;
  }
  
  button.genericButton {
    padding: 0px;
    padding-right: 3px;
    width: 100%;
  }
  
  .genericButton input {
    width: unset;
    display: unset;
    width: 120px;
  }
  
  .genericButton input {
    background-color: white;
  }
  .genericButton input.ng-invalid {
    border-color: #ff4c6a;
    background-color: #f7f9bc;
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding-left: 6px;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 0.8rem;
  }
  