
.cwtlogo {
    float: right !important;
    width: 100px;
    height:25px;

    top: 5px;
    right: 16px;
    background-image: url("../../assets/images/myCwt.png");
    background-repeat: no-repeat;
}
