<div *ngIf="workflow === 'load'">
  <accordion [closeOthers]="false">
    <accordion-group [panelClass]="'customClass'">
      <div accordion-heading>
        <i class="fas fa-hand-holding-usd"></i> Payment
        <i [ngClass]="validModel.paymentValidCss"></i>
        <span class="existWarning" *ngIf="paymentWarning">
          &nbsp; &nbsp; <i class="fas fa-exclamation-triangle"></i>&nbsp; {{ paymentWarning }} lines exist! Review and take appropriate
          action.</span
        >
        <span class="cwt-logo"></span>
      </div>
      <app-payment></app-payment>
    </accordion-group>
    <accordion-group [panelClass]="'customClass'">
      <div accordion-heading>
        <i class="fas fa-file-export"></i> Reporting
        <i [ngClass]="validModel.reportingValidCss"></i>
        <span class="cwt-logo"></span>
      </div>
      <app-reporting></app-reporting>
    </accordion-group>
    <accordion-group [panelClass]="'customClass'">
      <div accordion-heading>
        <i class="far fa-list-alt"></i> Remarks
        <i [ngClass]="validModel.remarkValidCss"></i>
        <span class="cwt-logo"></span>
      </div>
      <app-remarks></app-remarks>
    </accordion-group>
    <accordion-group [panelClass]="'customClass'">
      <div accordion-heading>
        <i class="fas fa-download"></i> Send to Matrix
        <i [ngClass]="validModel.itineraryValidCss"></i>
        <span class="cwt-logo"></span>
      </div>
      <app-matrix-invoice> </app-matrix-invoice>
    </accordion-group>
  </accordion>
  <br />

  <div class="form-group  row">
    <div class="col">
      <button class="leisureBtnSubmit" (click)="SubmitToPNR()">
        SUBMIT TO PNR
      </button>
      <button class="backMain" (click)="back()">Back To Main Menu</button>
    </div>
  </div>
</div>

<div *ngIf="workflow === 'segment'">
  <accordion>
    <accordion-group [panelClass]="'customClass'" [isOpen]="true">
      <div accordion-heading>
        <i class="fas fa-plane"></i> Passive Segment
        <span class="cwt-logo"></span>
      </div>
      <app-passive-segments></app-passive-segments>
    </accordion-group>
  </accordion>
  <br />
  <div class="form-group  row">
    <div class="col">
      <button class="leisureBtnSubmit" (click)="addSegmentToPNR()" [disabled]="segmentEnabled">
        Add Segments To PNR
      </button>
      <button class="backMain" (click)="back()">Back To Main Menu</button>
    </div>
  </div>
</div>

<div *ngIf="workflow === 'cancel'">
  <accordion>
    <accordion-group [panelClass]="'customClass'" [isOpen]="true">
      <div accordion-heading>
        <i class="fas fa-plane"></i> Cancel Segment
        <span class="cwt-logo"></span>
      </div>
      <app-cancel> </app-cancel>
    </accordion-group>
  </accordion>
  <br />
  <div class="form-group  row">
    <div class="col">
      <button class="cancelsegment" (click)="cancelPnr()" [disabled]="cancelEnabled">
        Cancel Segments
      </button>
      <button class="backMain" (click)="back()">Back To Main Menu</button>
    </div>
  </div>
</div>

<div *ngIf="workflow === 'sendItinerary'">
  <accordion>
    <accordion-group [panelClass]="'customClass'" [isOpen]="true">
      <div accordion-heading>
        <i class="far fa-envelope-open"></i> Itinerary and Queue
        <span class="cwt-logo"></span>
      </div>
      <app-itinerary-and-queue></app-itinerary-and-queue>
    </accordion-group>
  </accordion>
  <br />
  <div class="form-group  row">
    <div class="col">
      <button class="leisureBtnSubmit" (click)="SendItineraryAndQueue()">
        Send Itinerary and Queue
      </button>
      <button class="backMain" (click)="back()">Back To Main Menu</button>
    </div>
  </div>
</div>

<div class="loaderBody" *ngIf="!isPnrLoaded">
  <div class="loader" *ngIf="errorPnrMsg == ''">
    <div class="loaderlogo"></div>
    <br /><br />Loading PNR...
  </div>
  <div class="loader" *ngIf="errorPnrMsg != ''">
    {{ errorPnrMsg }}
  </div>
</div>

<div *ngIf="workflow === 're-invoice'">
  <accordion>
    <accordion-group [panelClass]="'customClass'" [isOpen]="true">
      <div accordion-heading>
        <i class="far fa-envelope-open"></i>&nbsp; Re-send Invoice and Itinerary
        <span class="cwt-logo"></span>
      </div>
      <app-resend-invoice></app-resend-invoice>
    </accordion-group>
  </accordion>
  <br />
  <div class="form-group  row">
    <div class="col">
      <button class="leisureBtnSubmit" (click)="ReSendInvoice()">
        Send Invoice
      </button>
      <button class="backMain" (click)="back()">Back To Main Menu</button>
    </div>
  </div>
</div>

<div class="loaderBody" *ngIf="isPnrLoaded && workflow === ''">
  <div class="loader" *ngIf="errorPnrMsg == ''">
    <div>Leisure <span class="cwt-logo"></span></div>
    <div>
      <button class="leisureButton btnMenu" (click)="AddSegment()">
        Add Segment
      </button>
    </div>
    <div>
      <button class="leisureButton btnMenu" (click)="loadPnr()">
        Wrap PNR
      </button>
    </div>
    <div *ngIf="invoiceEnabled">
      <button class="leisureButton btnMenu" (click)="sendItineraryAndQueue()">
        Itinerary and Queue
      </button>
    </div>
    <div>
      <button class="leisureButton btnMenu" (click)="reSendInvoice()">
        Re-send Invoice/Itinerary
      </button>
    </div>
    <div>
      <button class="leisureButton btnMenu" (click)="cancelSegment()">
        Cancel Segments
      </button>
    </div>
  </div>
  <div class="version" *ngIf="errorPnrMsg == ''">version {{ version }}</div>
  <div class="loader" *ngIf="errorPnrMsg != ''">
    {{ errorPnrMsg }}
  </div>
</div>

{{ message }}
