<accordion [closeOthers]="true">
  <accordion-group [panelClass]="'customClass'" [isOpen]="true">
    <div accordion-heading>
      <i class='fa fa-users'></i> Passive Segment
      <span class="cwt-logo"></span>
    </div>
    <passive></passive>
  </accordion-group>
  <accordion-group [panelClass]="'customClass'">
    <div accordion-heading>
      <i class='fa fa-users'></i> Reporting
      <span class="cwt-logo"></span>
    </div>
    <app-reporting></app-reporting>
  </accordion-group>
  <accordion-group [panelClass]="'customClass'">
    <div accordion-heading>
      <i class='fa fa-users'></i> Remarks
      <span class="cwt-logo"></span>
    </div>
  </accordion-group>
</accordion>
<br />
<button class="btn btn-pill btn-warning" (click)="SubmitToPNR()">Submit To PNR</button>