<div class="modal-header">
  <div class="modal-title">{{ title }}</div>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup">
    <div class="form-group row">
      <div class="col-sm-4">Waivers / Favors:</div>
      <div class="col-sm-8">
        <select id="waiver" name="waiver" class="form-control" formControlName="waiver" (change)="setWaiverText($event.target.value)">
          <option *ngFor="let item of waiverList" [value]="item.code">
            {{ item.display }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="showWaiverText">
      <div class="col-sm-4">{{ this.lblWaiver }}</div>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          name="waiverText"
          formControlName="waiverText"
          id="waiverText"
          NumberOnlyMask
          maxlength="4"
          required
          (change)="validateAmount($event.target.value)"
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveWaiverItem()">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Close</button>
</div>
