<form [formGroup]="itcForm">

  <div class="row form-group">
    <div class="col-3">
      <label for="userIdFirstWay">Currency Type</label>
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="select a currency" formControlName="itcCurrencyType"
        id="itcCurrencyType" list="dynamicCurrency" />
      <datalist id="dynamicCurrency">
        <option *ngFor="let item of bspCurrencyList" [value]="item.itemValue">{{item.itemText}}</option>
      </datalist>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">

    </div>
    <div class="col-3">
      Adult
    </div>
    <div class="col-3">
      Child
    </div>
    <div class="col-3">
      Infant
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Number Of Pax
    </div>
    <div class="col-3">
      <input type="text" id="noAdult" name="noAdult" class="form-control" formControlName="noAdult" maxlength="1"
        NumberOnlyMask (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="noChild" name="noChild" class="form-control" formControlName="noChild" maxlength="1"
        NumberOnlyMask (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="noInfant" name="noInfant" class="form-control" formControlName="noInfant" maxlength="1"
        NumberOnlyMask (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Base Price
    </div>
    <div class="col-3">
      <input type="text" id="baseAdult" name="baseAdult" class="form-control" formControlName="baseAdult" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="baseChild" name="baseChild" class="form-control" formControlName="baseChild" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="baseInfant" name="baseInfant" class="form-control" formControlName="baseInfant" AmountMask
        (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Taxes
    </div>
    <div class="col-3">
      <input type="text" id="taxAdult" name="taxAdult" class="form-control" formControlName="taxAdult" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="taxChild" name="taxChild" class="form-control" formControlName="taxChild" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="taxInfant" name="taxInfant" class="form-control" formControlName="taxInfant" AmountMask
        (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Base Cruise
    </div>
    <div class="col-3">
      <input type="text" id="bcruiseAdult" name="bcruiseAdult" class="form-control" formControlName="bcruiseAdult"
        AmountMask (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="bcruiseChild" name="bcruiseChild" class="form-control" formControlName="bcruiseChild"
        AmountMask (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="bcruiseInfant" name="bcruiseInfant" class="form-control" formControlName="bcruiseInfant"
        AmountMask (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Taxes/Port Changes
    </div>
    <div class="col-3">
      <input type="text" id="tcruiseAdult" name="tcruiseAdult" class="form-control" formControlName="tcruiseAdult"
        AmountMask (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="tcruiseChild" name="tcruiseChild" class="form-control" formControlName="tcruiseChild"
        AmountMask (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="tcruiseInfant" name="tcruiseInfant" class="form-control" formControlName="tcruiseInfant"
        AmountMask (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Rail
    </div>
    <div class="col-3">
      <input type="text" id="railAdult" name="railAdult" class="form-control" formControlName="railAdult" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="railChild" name="railChild" class="form-control" formControlName="railChild" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="railInfant" name="railInfant" class="form-control" formControlName="railInfant" AmountMask
        (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Insurance
    </div>
    <div class="col-3">
      <input type="text" id="insAdult" name="insAdult" class="form-control" formControlName="insAdult" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="insChild" name="insChild" class="form-control" formControlName="insChild" AmountMask
        (change)="ComputeBalance()">
    </div>
    <div class="col-3">
      <input type="text" id="insInfant" name="insInfant" class="form-control" formControlName="insInfant" AmountMask
        (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Hotel - Total cost
    </div>
    <div class="col-3">
      <input type="text" id="hotelAdult" name="hotelAdult" class="form-control" formControlName="hotelAdult" AmountMask
        (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Car - Total cost
    </div>
    <div class="col-3">
      <input type="text" id="carAdult" name="carAdult" class="form-control" formControlName="carAdult" AmountMask
        (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Deposit
    </div>
    <div class="col-3">
      <input type="text" id="depAdult" name="depAdult" class="form-control" formControlName="depAdult" AmountMask
        (change)="ComputeBalance()">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Holiday Cost
    </div>
    <div class="col-3">
      <input type="text" id="holidayCost" name="holidayCost" class="form-control" formControlName="holidayCost"
        AmountMask disabled>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Balance to be paid
    </div>
    <div class="col-3">
      <input type="text" id="balance" name="balance" class="form-control" formControlName="balance" AmountMask disabled>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Balance due date
    </div>
    <div class="col-3">
      <input type="date" id="dueDate" name="dueDate" class="form-control" formControlName="dueDate">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      Commission Amount
    </div>
    <div class="col-3">
      <input type="text" id="commission" name="commission" class="form-control" formControlName="commission"
        AmountMask />
    </div>
  </div>

</form>