<div class="container">
  <form [formGroup]="containerForm" class="form-group">
    <ng-template ngFor let-input [ngForOf]="formTemplateData">
      <ng-container [ngSwitch]="input.controlType">
        <ng-template [ngSwitchCase]="'labelmessage'">
          <div [innerHTML]="input.controlName" class="row">
            <!-- <div class="col-8">
            {{ input.controlName }}
          </div> -->
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'text'">
          <!-- <div class="row" *ngIf="hasShowCondition(input.conditions, input)"> -->
          <div class="row">
            <div class="col-3">
              <label [for]="input.controlName"> {{ input.label }}:</label>
            </div>
            <div class="col-4">
              <!-- test:
              {{input.valueType}} -->
              <input class="form-control" [formControlName]="input.controlName" [type]="input.controlType"
                [name]="input.controlName" [required]="input.validators.required"
                [minlength]="input.validators.minlength" [maxlength]="input.validators.maxlength" input.valueType />
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="'input-select'">
          <div class="row">
            <div class="col-3">
              <label [for]="input.controlName"> {{ input.label }}:</label>
            </div>
            <div class="col-4">
              <input list="dynamicList" class="form-control" [formControlName]="input.controlName" type="text"
                [name]="input.controlName" [required]="input.validators.required"
                [minlength]="input.validators.minlength" [maxlength]="input.validators.maxlength" />
              <datalist id="dynamicList">
                <option *ngFor="let option of input.options" [value]="option.value">{{ option.name }}</option>
              </datalist>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="'select'">
          <div class="row" *ngIf="hasShowCondition(input.conditions, input)">
            <div class="col-3">
              <label [for]="input.controlName"> {{ input.label }}:</label>
            </div>
            <div class="col-4">
              <select class="form-control" [formControlName]="input.controlName" [name]="input.controlName"
                [id]="input.controlName" [required]="input.validators.required"
                (change)="applyCondition($event.target.value, input.options)">
                <option value="">{{ input.placeholder }}</option>
                <option *ngFor="let option of input.options" [value]="option.value">{{ option.name }}</option>
              </select>
            </div>
          </div>
        </ng-template>

        <ng-template [ngSwitchCase]="'radio'">
          <div class="row">
            <div class="col-3">
              <label [for]="input.controlName"> {{ input.label }}:</label>
            </div>
            <div class="col-4">
              <table>
                <tr>
                  <td *ngFor="let option of input.options" class="">
                    <label class="control control-radio ">
                      <input type="radio" [formControlName]="input.controlName" [type]="input.controlType"
                        [name]="input.controlName" [value]="option.value"
                        [required]="input.validators.required" />{{ option.name }} &nbsp;&nbsp;
                      <div class="control_indicator"></div>
                    </label>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </ng-template>

        <div class="col-4">
          <ng-template [ngSwitchCase]="'checkbox'">
            <div class="col-3">
              <label [for]="input.controlName"> {{ input.label }}:</label>
            </div>
            <div *ngFor="let option of input.options" class="form-group row">
              <input [formControlName]="input.controlName" [type]="input.controlType" [name]="input.controlName" />
              <label [for]="input.controlName"> {{ option.name }}</label>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </ng-template>
  </form>
</div>