<div class="modal-header">
  <div class="modal-title">{{ title }}</div>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="matrixAccountingForm">
    <div *ngIf="isCopy == true">
      <div class="row form-group">
        <div class="col-12">
          <label class="control control-radio">
            Duplicate all Fare and Credit Card Information for next Passenger
            <input type="radio" name="duplicateFare" formcontrolname="duplicateFare" id="duplicateFare"
              value="farePayment" (click)="select('farePayment')" />
            <div class="control_indicator"></div>
          </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label class="control control-radio">
            Duplicate all Fare Information only for next Passenger
            <input type="radio" name="duplicateFare" formcontrolname="duplicateFare" id="duplicateFare" value="fare"
              (click)="select('fare')" />
            <div class="control_indicator"></div>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4">MAC Line #:</div>
      <div class="col-sm-8">
        <input type="text" maxlength="4" class="form-control" id="tkMacLine" [(ngModel)]="accountingRemark.tkMacLine"
          name="tkMacLine" [ngModelOptions]="{ standalone: true }" disabled />
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4">Accounting Remark:</div>
      <div class="col-sm-8">
        <select autofocus id="accountingTypeRemark" class="form-control"
          [(ngModel)]="accountingRemark.accountingTypeRemark" formControlName="accountingTypeRemark"
          name="accountingTypeRemark" (change)="onChangeAccountingType($event.target.value)" required>
          <option *ngFor="let item of accountingRemarkList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="accountingRemark.bsp == '2'">
      <div class="form-group  row">
        <div class="col-sm-4">Description:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="select a supplier Code" formControlName="descriptionapay"
            id="descriptionapay" list="dynamicSupplierCode1" [(ngModel)]="accountingRemark.descriptionapay" AllCapsMask
            formControlName="descriptionapay" (change)="assignSupplierCode($event.target.value)" />
          <datalist id="dynamicSupplierCode1">
            <option *ngFor="let item of descriptionList" [value]="item.itemValue">{{ item.itemValue }} </option>
          </datalist>
        </div>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark !== 'ACPP'" class="form-group  row">
      <div class="col-sm-4">Itinerary Segment:</div>
      <div class="col-sm-8">
        <app-segment-select formControlName="segmentNo" name="segmentNo" id="segmentNo" #segmentApp
          (change)="setInsuranceValue()"></app-segment-select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">Supplier Code:</div>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="select a supplier Code" formControlName="supplierCodeName"
          id="supplierCodeName" list="dynamicSupplierCode" [(ngModel)]="accountingRemark.supplierCodeName" AllCapsMask
          (blur)="setTktNumber($event.target.value)" />
        <datalist id="dynamicSupplierCode">
          <option *ngFor="let item of filterSupplierCodeList" [value]="item.supplierCode">{{ item.supplierCode }} -
            {{ item.supplierName }}</option>
        </datalist>
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4">
        <label id="confirmationLabel">{{ name }} </label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="supplierConfirmatioNo" formControlName="supplierConfirmatioNo"
          [(ngModel)]="accountingRemark.supplierConfirmatioNo" formControlName="supplierConfirmatioNo"
          name="supplierConfirmatioNo" required />
      </div>
    </div>

    <div></div>
    <div class="form-group  row">
      <div class="col-sm-4">Form of Payment:</div>
      <div class="col-sm-8">
        <select autofocus id="fop" class="form-control" formControlName="fop" name="fop"
          [(ngModel)]="accountingRemark.fop" formControlName="fop" (change)="FormOfPaymentChange($event.target.value)"
          required>
          <option *ngFor="let item of formOfPaymentList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="accountingRemark.fop == 'CC' || accountingRemark.fop == 'AP'">
      <div class="form-group  row">
        <div class="col-sm-4">Vendor Code:</div>
        <div class="col-sm-8">
          <select autofocus id="vendorCode" class="form-control" name="vendorCode"
            [(ngModel)]="accountingRemark.vendorCode" formControlName="vendorCode" required
            (change)="creditcardMaxValidator($event.target.value)">
            <option *ngFor="let item of vendorCodeList" [value]="item.itemValue">
              {{ item.itemText }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4">Card Number:</div>
        <div class="col">
          <input type="cardNumber" class="form-control" id="ccNo" [(ngModel)]="accountingRemark.cardNumber"
            maxlength="16" formControlName="cardNumber" name="cardNumber" NumberOnlyMask />
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="expDate" required formControlName="expDate" name="expDate"
            placeholder="MM/YY" [(ngModel)]="accountingRemark.expDate" CCDateExpMask formControlName="expDate" />
        </div>
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4"></div>
      <div class="col">
        <div class="">Base Amount:</div>
        <input type="text" class="form-control" id="baseAmount" [(ngModel)]="accountingRemark.baseAmount" maxlength="10"
          formControlName="baseAmount" name="baseAmount" required placeholder="00.00" AmountMask />
      </div>

      <div class="col">
        <div class="">GST:</div>
        <input type="text" class="form-control" id="gst" formControlName="gst" [(ngModel)]="accountingRemark.gst"
          maxlength="8" formControlName="gst" name="gst" required placeholder="00.00" AmountMask />
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4"></div>
      <div class="col">
        <div class="">HST:</div>
        <input type="text" class="form-control" id="hst" formControlName="hst" [(ngModel)]="accountingRemark.hst"
          maxlength="8" formControlName="hst" name="hst" required placeholder="00.00" AmountMask />
      </div>

      <div class="col">
        <div class="">QST:</div>
        <input type="text" class="form-control" id="qst" formControlName="qst" [(ngModel)]="accountingRemark.qst"
          maxlength="8" formControlName="qst" name="qst" required placeholder="00.00" AmountMask />
      </div>
    </div>
    <div class="form-group  row" *ngIf="accountingRemark.bsp == '3'">
      <div class="col-sm-4"></div>
      <div class="col">
        <div class="">Commission %:</div>
        <input type="text" class="form-control" id="commisionPercentage" formControlName="commisionPercentage"
          [(ngModel)]="accountingRemark.commisionPercentage" name="commisionPercentage" required placeholder="00.00"
          maxlength="8" AmountMask />
      </div>

      <div class="col"></div>
    </div>

    <div *ngIf="accountingRemark.bsp == '1'">
      <div *ngIf="accountingRemark.accountingTypeRemark !== 'ACPP' && accountingRemark.accountingTypeRemark !== 'ACPR'">
        <div class="form-group  row">
          <div class="col-sm-4"></div>
          <div class="col">
            <div class="">Other Tax:</div>
            <input type="text" class="form-control" id="otherTax" formControlName="otherTax"
              [(ngModel)]="accountingRemark.otherTax" formControlName="otherTax" name="otherTax" required maxlength="8"
              placeholder="00.00" AmountMask />
          </div>

          <div class="col">
            <div class="">Commision w/o Tax:</div>
            <input type="text" class="form-control" id="commisionWithoutTax"
              [(ngModel)]="accountingRemark.commisionWithoutTax" formControlName="commisionWithoutTax" maxlength="8"
              name="commisionWithoutTax" required placeholder="00.00" AmountMask />
          </div>
        </div>
      </div>
      <div *ngIf="accountingRemark.accountingTypeRemark === 'NAE'">
        <div class="form-group  row">
          <div class="col-sm-4"></div>
          Penalty:
        </div>
        <div class="form-group  row">
          <div class="col-sm-4"></div>
          <div class="col">
            <div class="">Penalty Amount:</div>
            <input type="text" class="form-control" id="penaltyBaseAmount"
              [(ngModel)]="accountingRemark.penaltyBaseAmount" formControlName="penaltyBaseAmount" maxlength="10"
              name="penaltyBaseAmount" required placeholder="00.00" AmountMask />
          </div>

          <div class="col">
            <div class="">GST on Penalty:</div>
            <input type="text" class="form-control" id="penaltyGst" [(ngModel)]="accountingRemark.penaltyGst"
              maxlength="8" formControlName="penaltyGst" name="penaltyGst" required placeholder="00.00" AmountMask />
          </div>
        </div>

        <div class="form-group  row">
          <div class="col-sm-4"></div>
          <div class="col">
            <div class="">HST on Penalty:</div>
            <input type="text" class="form-control" id="penaltyHst" formControlName="penaltyHst" maxlength="8"
              [(ngModel)]="accountingRemark.penaltyHst" name="penaltyHst" required placeholder="00.00" AmountMask />
          </div>

          <div class="col">
            <div class="">QST on Penalty:</div>
            <input type="text" class="form-control" id="penaltyQst" formControlName="penaltyQst" maxlength="8"
              [(ngModel)]="accountingRemark.penaltyQst" formControlName="penaltyQst" name="penaltyQst" required
              placeholder="00.00" AmountMask />
          </div>
        </div>
      </div>
      <div class="form-group  row">
        <div class="col-sm-4">Ticket Number:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="tktLine" formControlName="tktLine"
            [(ngModel)]="accountingRemark.tktLine" formControlName="tktLine" name="tktLine" NumberOnlyMask
            maxlength="10" />
        </div>
      </div>
      <div class="form-group  row" *ngIf="accountingRemark.accountingTypeRemark === 'NAE'">
        <div class="col-sm-4">Original Ticket Number:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="originalTktLine" formControlName="originalTktLine"
            [(ngModel)]="accountingRemark.originalTktLine" formControlName="originalTktLine" name="originalTktLine"
            NumberOnlyMask />
        </div>
      </div>
    </div>

    <div class="form-group  row" *ngIf="accountingRemark.accountingTypeRemark === 'ACPP'">
      <div class="col-sm-4">Departure City:</div>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="departureCity" formControlName="departureCity"
          [(ngModel)]="accountingRemark.departureCity" formControlName="departureCity" name="departureCity"
          NumberOnlyMask maxlength="3" AlphaMask />
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'ACPR' || accountingRemark.accountingTypeRemark === 'ACPP'">
      <div class="form-group  row">
        <div class="col-sm-4">Pass Purchase Type:</div>
        <div class="col-sm-8">
          <select autofocus id="passPurchase" class="form-control" name="passPurchase"
            [(ngModel)]="accountingRemark.passPurchase" formControlName="passPurchase" required>
            <option *ngFor="let item of passPurchaseList" [value]="item.itemValue">
              {{ item.itemText }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4">Fare Type:</div>
        <div class="col-sm-8">
          <select autofocus id="fareType" class="form-control" name="fareType" [(ngModel)]="accountingRemark.fareType"
            formControlName="fareType" required>
            <option *ngFor="let item of fareTypeList" [value]="item.itemValue">
              {{ item.itemText }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">Passenger:</div>
      <div class="col-sm-8">
        <select class="form-control " id="passengerNo" [(ngModel)]="accountingRemark.passengerNo"
          formControlName="passengerNo" name="passengerNo">
          <option *ngFor="let pass of passengerList" [value]="pass.id"> {{ pass.surname }}-{{ pass.firstname }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveAccounting()"
    [disabled]="matrixAccountingForm.invalid">
    Save
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">
    Close
  </button>
</div>