<div [formGroup]="nonBspGroup" class="form-group" width>
  <div formArrayName="nonbsp" *ngFor="let item of this.nonBspGroup.get('nonbsp')['controls']; let i = index" class="col">
    <div [formGroupName]="i" class="row">
      <div class="col-2">
        Segment
        <input formControlName="segment" type="text" class="form-control" readonly />
      </div>

      <div class="col-2">
        Full Fare
        <input formControlName="highFareText" type="text" class="form-control" maxlength="55" required (change)="changeFare(item, i)" />
      </div>
      <div class="col-2">
        Low Fare
        <input formControlName="lowFareText" type="text" class="form-control" maxlength="55" required (change)="changeFare(item, i)" />
      </div>
      <div class="col-3">
        Reason Code
        <select autofocus id="reasonCodeText" class="form-control" formControlName="reasonCodeText" name="reasonCodeText" required>
          <option *ngFor="let item of nonBspReasonList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
