<form [formGroup]="queueForm">
  <div class="queueContainer">
    <div class="row form-group">
      <div class="col-3"></div>
    </div>
    <div class="form-group  row" *ngIf="showTypeOfTransaction">
      <div class="col-sm-3">Type of Transaction:</div>
      <div class="col-sm-4">
        <select autofocus id="typeTransaction" class="form-control" formControlName="typeTransaction" name="typeTransaction">
          <option *ngFor="let item of transactionTypeList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group  row" *ngIf="!isLeisureOnDemadOid">
      <div class="col-sm-3">Team Queue:</div>
      <div class="col-sm-4">
        <select autofocus id="teamQueue" class="form-control" formControlName="teamQueue" name="teamQueue">
          <option *ngFor="let item of teamQueueList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-3"></div>
      <div class="col-2">
        Queue Number
      </div>
      <div class="col-2">
        Category
      </div>
    </div>

    <div class="row form-group">
      <div class="col-3">Personal Queue:</div>
      <div class="col-2">
        <input type="text" class="form-control" id="queueNo" name="queueNo" formControlName="queueNo" maxlength="35" />
      </div>
      <div class="col-2">
        <input type="text" class="form-control" id="queueCategory" name="queueCategory" formControlName="queueCategory" maxlength="35" />
      </div>
    </div>
  </div>
</form>
