

<div class="modal-header">
    <div class="modal-title">{{title}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

     


      <form >
          <div class="form-group  row">
           
            <div class="col-sm-4" >Bank Account : </div>
            <div class="col-sm-8">
            <select autofocus  id="bankAccount" class="form-control" [(ngModel)]="matrixReceipt.bankAccount" name="bankAccount" required >
              <option *ngFor="let item of  bankAccountList" [value]="item.itemValue">
                              {{item.itemText}}
                            </option>
            </select>
          </div></div>
          <div class="form-group  row">
              <div class="col-sm-4" >RLN # : </div>
              <div class="col-sm-8">
            <input type="text" class="form-control" id="rln"  [(ngModel)]="matrixReceipt.rln"   name="rln" disabled/>
          </div>
        </div>
          <div class="form-group row">            
            <div class="col-sm-4" >Passenger :</div>
            <div class="col-sm-8">
            <select class="form-control " id="pasenger" [(ngModel)]="matrixReceipt.passengerName" name="passengerName"  required [disabled]="isDisabled">
              <option *ngFor="let pass of  passengerList" [value]="pass">
                            {{pass}}
                          </option>
            </select>
          </div>
          </div>
          <div class="form-group  row">
              <div class="col-sm-4" >GL Code :</div>
              <div class="col-sm-8">
              <input type="text" class="form-control" id="glCode" name="glCode" [(ngModel)]="matrixReceipt.glCode"  disabled />
          </div></div>

            <div class="form-group  row">
                <div class="col-sm-4" >Points :</div>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="points" name="points" [(ngModel)]="matrixReceipt.points"   />
              </div></div>
            <div class="form-group  row">
                <div class="col-sm-4" >Amount :</div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="matrixReceipt.amount"   />
            </div></div>
            <div class="form-group  row">
                <div class="col-sm-4" >Description :</div>
                <div class="col-sm-8">
                   
                <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="matrixReceipt.description"   ></textarea>
            </div> </div>
            <div class="form-group  row">
                <div class="col-sm-4" >CWT Reference :</div>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="cwtRef" name="cwtRef" [(ngModel)]="matrixReceipt.cwtRef"   />
            </div></div>
            <div class="form-group  row">
                <div class="col-sm-4" >
                Last Four digit VI :</div>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="lastFourVi" name="lastFourVi" [(ngModel)]="matrixReceipt.lastFourVi"   />
            </div></div>


        </form>








   
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveReceipt()">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>

