<div [formGroup]="bspGroup" class="form-group">
  <br />
  <div *ngIf="!isDoneLoading">
    <div class="row d-flex justify-content-center">
      Calculating Fares...
    </div>
    <div class="row d-flex justify-content-center">
      <div><i class="fas fa-spinner fa-pulse fa-w-16 fa-3x"></i></div>
    </div>
  </div>
  <div *ngIf="isDoneLoading">
    <div class="row">
      <div class="" style="width:10%"></div>

      <div class="header" style="width:10%;">
        Segment
      </div>

      <div class="header" style="width:12%;">
        Charge Fare
      </div>

      <div class="header" style="width:12%;">
        Full Fare
      </div>
      <div class="header" style="width:12%;">
        Low Fare
      </div>
      <div class="header" style="width:18%;">
        Reason Code
      </div>
      <div *ngIf="isLilly" class="header" style="width:22%">
        Calculation Option For Lilly
      </div>

    </div>
    <div formArrayName="fares" *ngFor="let item of this.bspGroup.get('fares')['controls']; let i = index" class="col">
      <div [formGroupName]="i" class="row">
        <div style="width:5%;padding-left:15px">
          <input type="checkbox" name="chkIncluded" formControlName="chkIncluded" id="chkIncluded"
            (change)="checkChange(item)" />
        </div>

        <div class="colfare">
          <input formControlName="segment" type="text" class="form-control" readonly />
        </div>

        <div class="colfare">
          <input formControlName="chargeFare" type="text" class="form-control" readonly />
        </div>

        <div class="colfare">
          <input formControlName="highFareText" type="text" class="form-control" maxlength="55"
            (change)="validateFares(item)" />
        </div>
        <div class="colfare">
          <input formControlName="lowFareText" type="text" class="form-control" maxlength="55"
            (change)="changeReasonCodes(item, i)" />
        </div>
        <div class="dropdown">
          <select autofocus id="reasonCodeText" class="form-control" formControlName="reasonCodeText"
            name="reasonCodeText">
            <option [ngValue]="null"></option>
            <option *ngFor="let reason of reasonCodes[i]" [value]="reason.reasonCode">{{
              reason.reasonCode + ' : ' + reason.getDescription()
            }}</option>
          </select>
        </div>
        <div *ngIf="isLilly" class="dropdown">
          <select class="form-control " id="lowFareOption" formControlName="lowFareOption" name="lowFareOption"
            (change)="checkLowFareOption($event.target.value, item, i)">
            <option *ngFor="let lfOption of lowFareOptionList" [value]="lfOption.itemValue"> {{ lfOption.itemText }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>