<div [formGroup]="queueMinderForm" class="form-group" style="margin-top:10px;padding-left: 10px">
  <table class="queueTable">
    <tr>
      <th width="150px">
        <div class="">OID</div>
      </th>
      <th width="150px">
        <div class="">Queue Number</div>
      </th>
      <th width="100px">
        <div class="cl">Category</div>
      </th>
    </tr>

    <tbody formArrayName="queues" *ngFor="let item of this.queueMinderForm.get('queues')['controls']; let i = index">
      <tr [formGroupName]="i">
        <!-- <td widhth="20px">
          <div>
            <input type="checkbox" name="applyQueue" formControlName="applyQueue" id="applyQueue" />
             (change)="processQueue(item, $event.target.checked)" />
          </div>
        </td> -->

        <td width="150px">
          <input type="text" class="form-control" formControlName="oid" name="oid" id="oid" />
        </td>
        <td width="150px">
          <input type="text" class="form-control" formControlName="queueNumber" name="queueNumber" id="queueNumber" />
        </td>

        <td width="50px">
          <input type="text" class="form-control" formControlName="category" name="category" id="category" />
        </td>
        <td class="otherText">
          <div (click)="addItem()">
            <i class="fas fa-plus-circle" id="add"></i>
            Add Queue
          </div>
        </td>

        <td class="otherText">
          <div (click)="removeInputField(i)" *ngIf="i > 0">
            <i class="fas fa-minus-circle" id="remove"></i>
            Remove Queue
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>