

.accordion {

padding: 1px;

margin: 1px;
}


.accordionHeader {
    cursor: pointer;
    padding: 1px;
    padding-left:5px;
    font-size: 14px;
    font-weight:500;
  
    letter-spacing: normal;
    color: #ffffff;
      background-color: #333f48;

}




.accordionBody {

background-color: white;
padding: 5px;

}




/deep/.card-header {
    
    background-color: #333f48;

}
