.cancelContainer{
    padding: 5px;
}

.note{
    font-size: 12px;
    font-style: italic;
}

.emphasize{
    font-size: 12px;
    font-weight: bold;
}

.rush-info {
    width: max-content;
    z-index: 1;
    bottom: 34px;
    left: -3rem;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));

    & .message {    
        background-color: #FFFFFF;
        color: #1f2937;        
        border-radius: 0.5rem;
    }

    & svg {
        margin-left: 3.2rem;
    }
}