<tabset id="remarksTab">
  <tab heading="Visa and Passport" id="visaPassportTab" tabOrder="1" *ngIf="!isStandalone">
    <app-visa-passport></app-visa-passport>
  </tab>
  <tab heading="Seats" id="seatsTab" tabOrder="2">
    <app-seats></app-seats>
  </tab>
  <tab heading="IRD Savings Accepted" id="irdRemarksTab" tabOrder="2" *ngIf="!isStandalone">
    <app-ird-remarks></app-ird-remarks>
  </tab>

  <tab heading="Agent Remarks" id="documentPnrTab" tabOrder="2">
    <app-document-pnr></app-document-pnr>
  </tab>
  <tab heading="ESC Remarks" id="escTab" tabOrder="3" *ngIf="isEsc">
    <app-esc-remarks></app-esc-remarks>
  </tab>

  <tab heading="Emergency Contact" id="emergencyContact" tabOrder="4" *ngIf="!isPassive && !isStandalone">
    <app-add-contact></app-add-contact>
  </tab>

  <tab heading="Fare Rule" *ngIf="!isStandalone">
    <app-fare-rule-segment></app-fare-rule-segment>
  </tab>

  <tab heading="Rules" id="rules" *ngIf="hasRules">
    <app-container [containerFilter]="'REMARKS'"></app-container>
  </tab>

  <tab heading="Associated Remarks">
    <app-associated-remarks></app-associated-remarks>
  </tab>
</tabset>
