<form [formGroup]="associatedRemarksForm">
  <div class="associatedContainer">
    <div class="form-group row">
      <div class="col-sm-4">Segment: </div>
      <div class="col-sm-6">
        <select id="segmentNo" name="segmentNo" class="form-control" formControlName="segmentNo">
          <option *ngFor="let item of  segments" [value]="item. tatooNo">
            {{item.lineNo + ' ' + item.longFreeText + item.freetext}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4">Associated Remarks :</div>
      <div class="col-sm-8">
        <div style="padding-bottom:10px" formArrayName="items"
          *ngFor="let item of this.associatedRemarksForm.get('items')['controls']; let i = index;">
          <div [formGroupName]="i">
            <table style="width:100%">
              <tr>
                <td style="width:63%">
                  <input formControlName="remarkText" class="form-control">
                </td>
                <td style="width:22%">
                  &nbsp;
                  <i class="fas fa-plus-circle iconPlus" (click)="addItem()"></i>
                  &nbsp;
                  <i class="fas fa-minus-circle iconRed" *ngIf="i > 0" (click)="removeInputField(i)"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>