<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Passenger</th>
      <th scope="col">Supplier Code Name</th>
      <th scope="col">Form of Payment</th>
      <th scope="col">Base Amount</th>
      <th scope="col">Commision Without Tax</th>
      <th scope="col">GST</th>
      <th scope="col">HST</th>
      <th scope="col">QST</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let r of accountingRemarks">
      <td>{{ r.tkMacLine }}</td>
      <td>{{ r.passengerNo }}</td>
      <td>{{ r.supplierCodeName }}</td>
      <td>{{ r.fop }}</td>
      <td>{{ r.baseAmount }}</td>
      <td>{{ r.commisionWithoutTax }}</td>
      <td>{{ r.gst }}</td>
      <td>{{ r.hst }}</td>
      <td>{{ r.qst }}</td>
      <td></td>
    </tr>


  </tbody>
</table>
<button class="btn btn-pill btn-warning" (click)="addAccountingRemarks()">Add Accounting Line</button>