<div class="modal-header">
  <div class="modal-title">{{ title }}</div>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form id="seatsForm" [formGroup]="seatsForm" (ngSubmit)="save()">

    <!-- headers -->
    <div class="row row-no-gutters">
      <div class="col-lg-1 col-sm-1 col-xs-1"><i class="fa fa-check"></i></div>
      <div class="col-lg-5 col-sm-5 col-sm-5"><strong>Seat Remark</strong></div>
      <div class="col-lg-3 col-sm-3 col-sm-3"><strong>Seat Type</strong></div>
      <div class="col-lg-3 col-sm-3 col-sm-3"><strong>Seat Number</strong></div>
    </div>

    <div formArrayName="seatsFormArray" *ngFor="let remarkOption of remarkOptions; let i = index;">
      <!-- body -->
      <div class="row row-compact" [formGroupName]="i">
        <div class="col-lg-1 col-sm-1 col-xs-1">
          <div class="checkbox text-center">
            <input type="checkbox" formControlName="selected">
          </div>
        </div>
        <div class="col-lg-5 col-sm-5 col-xs-5">
          <input type="hidden" formControlName="id" [value]="remarkOption.id">
          <p>{{ remarkOption.text }}</p>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3">
          <label for="" *ngIf="remarkOption.id === 2">
            <select class="form-control" formControlName="type">
              <option></option>
              <option *ngFor="let type of types" [value]="type">{{ type }}</option>
            </select>
          </label>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-3">
          <label for="" *ngIf="remarkOption.id === 5">
            <input type="text" class="form-control" formControlName="number">
          </label>
        </div>
      </div>
    </div>

    <div class="row row-no-gutters">
      <div class="col-sm-12 text-center">
        <strong style="padding-right: 1rem;">Segments</strong>
        <app-segment-select formControlName="segmentIds"></app-segment-select>
      </div>
    </div>

  </form>

</div>

<div class="modal-footer">
  <button type="submit" form="seatsForm" class="btn btn-outline-dark" [disabled]="!seatsForm.valid">
    Save
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="close()">
    Close
  </button>
</div>