<div class="modal-header">
  <div class="modal-title">{{ title }}</div>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body form-group">
  <form id="seatsForm" [formGroup]="seatsForm" (ngSubmit)="save()">
    <!-- headers -->
    <div class="row">
      <div class="col-2">Segment:</div>
      <div class="col-8">
        <select formControlName="segment" class="form-control">
          <option>&nbsp;</option>
          <option *ngFor="let id of segmentIdOptions" [value]="id.segmentid">
            {{ id.segmentid }} {{id.information}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>
          <input type="checkbox" formControlName="check1" name="check1" (change)="checkChanged(1)" />
          SEATING SUBJECT TO AIRPORT OR ONLINE CHECK IN
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>
          <input type="checkbox" formControlName="check2" name="check2" (change)="checkChanged(2)" />
          PREFERRED SEAT UNAVAILABLE.
          <select class="form-control seatType" formControlName="seatType" name="seatType" disabled>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
          </select>
          CONFIRMED
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>
          <input type="checkbox" formControlName="check3" name="check3" (change)="checkChanged(3)" />
          THIS SEGMENT HAS BEEN WAITLIST
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>
          <input type="checkbox" formControlName="check4" name="check4" (change)="checkChanged(4)" />
          SEAT ASSIGNMENTS ARE ON REQUEST
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>
          <input type="checkbox" formControlName="check5" name="check5" (change)="checkChanged(5)" />
          UPGRADE CONFIRMED -
          <input type="text" class="form-control seatType" formControlName="seatNumber" name="seatNumber"
            placeholder="Seat Number" disabled />
          CONFIRMED
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>
          <input type="checkbox" formControlName="check6" name="check6" (change)="checkChanged(6)" />
          UPGRADE REQUESTED - CHECK CLEARANCE WITH AIRLINE OR AIRLINE WEBSITE
        </label>
      </div>
    </div>

    <!-- <div formArrayName="seatsFormArray" *ngFor="let remarkOption of remarkOptions; let i = index">
     
      <div class="row row-compact" [formGroupName]="i">
        <div class="col-lg-8 col-sm-8 col-xs-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="selected" />
              {{ remarkOption.text }}
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
          <label *ngIf="remarkOption.id === 2">
            <select class="form-control" formControlName="type" style="width: 100%">
              <option value="" disabled selected>-- Seat Type --</option>
              <option *ngFor="let type of types" [value]="type">{{ type }}</option>
            </select>
          </label>
          <label *ngIf="remarkOption.id === 5">
            <input type="text" class="form-control" formControlName="number" placeholder="Seat Number" />
          </label>
        </div>
      </div>
    </div>-->
  </form>
</div>

<div class="modal-footer">
  <button type="submit" form="seatsForm" class="btn btn-outline-dark"
    [disabled]="!seatsForm.valid || !hasSelectedItems">
    Save
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="close()">
    Close
  </button>
</div>