<form [formGroup]="associatedRemarksForm">

  <div class="associatedContainer">
    <div formArrayName="items" *ngFor="let item of this.associatedRemarksForm.get('items')['controls']; let i = index;"
      class="col">
      <div [formGroupName]="i">
        <table style="width:100%">
          <tr>
            <td style="width:8%">
              Segment
            </td>
            <td style="width:15%">
              <div class="form-group  row">
                <div class="col-sm-8">
                  <app-segment-select formControlName="segmentNo" #segmentApp></app-segment-select>
                </div>
              </div>
            </td>
            <td style="width:8%">
              Remark
            </td>
            <td style="width:30%">
              <input formControlName="remarkText" type="text" class="form-control" maxlength="55" style="width:90%" />
            </td>
            <td style="width:10%">
              &nbsp;
              <i class="fas fa-plus-circle iconPlus" (click)="addItem()"></i>
              &nbsp;
              <i class="fas fa-minus-circle iconRed" *ngIf="i > 0" (click)="removeInputField(i)"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>


  </div>

</form>