.associatedContainer{
    padding: 20px;
}

.note{
    font-size: 12px;
    font-style: italic;
}

.emphasize{
    font-size: 12px;
    font-weight: bold;
}

.form-control {
    width: unset;
    display: unset;
}
