<div class="container">
  <div class="row">
    <h2>Tour Package</h2>
  </div>
  <div class="row">
    <div class="col">
      <label for="userIdFirstWay">Currency Type</label>
      <input type="text" class="form-control" required [(ngModel)]="currencyCode" (keyup)="getUserIdsFirstWay($event)"
        id="userIdFirstWay" list="dynamicCurrency" />
      <datalist id="dynamicCurrency">
        <option *ngFor="let item of bspCurrencyList" [value]="item.itemText">{{item.itemText}}</option>
      </datalist>
    </div>
    <div class="col">
      <label for="adultNum">Number of Adults</label>
      <input type="text" class="form-control" required (change)="tourPackageChange" maxlength="1" id="adultNum"
        [(ngModel)]="adultNum" (change)="tourPackageChange()" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="tourPackageChange">Base Cost per adult</label>
      <input type="text" class="form-control" required (change)="tourPackageChange" maxlength="1" id="adultNum"
        [(ngModel)]="adultNum" (change)="tourPackageChange()" />
    </div>

    <div class="col">
      <label for="taxesPerAdult">Base Cost per adult</label>
      <input type="text" class="form-control" required maxlength="7" id="taxesPerAdult" (change)="tourPackageChange"
        [(ngModel)]="taxesPerAdult" (change)="tourPackageChange()" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="insurancePerAdult">Insurance per adult</label>
      <input type="text" class="form-control" required maxlength="7" id="insurancePerAdult" (change)="tourPackageChange"
        [(ngModel)]="insurancePerAdult" (change)="tourPackageChange()" />
    </div>
    <div class="col">
      <label for="childrenNumber">Number of Children</label>
      <input type="text" class="form-control" required maxlength="1" id="childrenNumber" [(ngModel)]="childrenNumber"
        (change)="tourPackageChange()" />
    </div>
  </div>

  <div class="row">

    <div class="col">
      <label for="childBaseCost">Base Cost per child</label>
      <input type="text" class="form-control" required maxlength="8" id="childBaseCost" [(ngModel)]="childBaseCost"
        (change)="tourPackageChange()" />
    </div>
    <div class="col">
      <label for="taxesPerChild">Taxes/Service per child</label>
      <input type="text" class="form-control" required maxlength="7" id="taxesPerChild" [(ngModel)]="taxesPerChild"
        (change)="tourPackageChange()" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="insurancePerChild">Taxes/Service per child</label>
      <input type="text" class="form-control" required maxlength="7" id="insurancePerChild" [(ngModel)]="insurancePerChild"
        (change)="tourPackageChange()" />
    </div>

    <div class="col">
      <label for="infantNumber">Number of Infants</label>
      <input type="text" class="form-control" required maxlength="1" id="infantNumber" [(ngModel)]="infantNumber"
        (change)="tourPackageChange()" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="totalCostPerInfant">Total cost per infant</label>
      <input type="text" class="form-control" required maxlength="7" id="totalCostPerInfant" [(ngModel)]="totalCostPerInfant"
        (change)="tourPackageChange()" />
    </div>
    <div class="col">
      <label for="depositPaid"> Deposit Paid</label>
      <input type="text" class="form-control" required maxlength="9" id="depositPaid" [(ngModel)]="depositPaid"
        (change)="tourPackageChange()" />
    </div>

  </div>

  <div class="row">


    <div class="col">
      <label for="totalCostHoliday">The total cost of Holiday</label>
      <input type="text" class="form-control" required id="totalCostHoliday" [(ngModel)]="totalCostHoliday" (change)="tourPackageChange()" />
    </div>
    <div class="col">
      <label for="lessDepositPaid">Less Deposit Paid</label>
      <input type="text" class="form-control" required id="lessDepositPaid" [(ngModel)]="lessDepositPaid" (change)="tourPackageChange()" />
    </div>

  </div>

  <div class="row">

    <div class="col">
      <label for="balanceToBePaid">Balance to be Paid</label>
      <input type="text" class="form-control" required id="balanceToBePaid" [(ngModel)]="balanceToBePaid" (change)="tourPackageChange()" />
    </div>
    <div class="col">
      <label for="balanceDueDate">Balance Due Date</label>
      <input type="text" class="form-control" bsDatepicker #d="bsDatepicker" (focus)="d.open()" placeholder="yyyy-mm-dd"
        [(ngModel)]="balanceDueDate" required (change)="tourPackageChange()" />
    </div>
  </div>

  <div class="row">


    <div class="col">
      <label for="commisionAmount">Commision Amount</label>
      <input type="text" class="form-control" required maxlength="8" id="commisionAmount" [(ngModel)]="commisionAmount"
        (change)="tourPackageChange()" />
    </div>
    <div class="col"></div>
  </div>
</div>