
    <h2>Tour Package</h2>
   <div style="width: 75%">
      <div class="row">
          <div class="col"> 
              Currency Type
          </div>
          
          <div class="col">            
          
          <input type="text" class="form-control" required [(ngModel)]="currencyCode" (keyup)="getUserIdsFirstWay($event)" id="userIdFirstWay" list="dynamicCurrency" />
            <datalist id="dynamicCurrency">
              <option *ngFor="let item of bspCurrencyList" [value]="item.itemText">{{item.itemText}}</option>
          </datalist>
        </div>              
      </div>
  
      <div class="row">
        <div class="col"> 
            Number of Adults
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required (change)="tourPackageChange" maxlength="1" id="adultNum" [(ngModel)]="adultNum" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
            Base Cost per adult
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="8" id="baseCost" (change)="tourPackageChange" [(ngModel)]="baseCost" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
            Taxes/Service per adult
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required  maxlength="7" id="taxesPerAdult" (change)="tourPackageChange" [(ngModel)]="taxesPerAdult" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Insurance per adult
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="7" id="insurancePerAdult" (change)="tourPackageChange" [(ngModel)]="insurancePerAdult" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
            Number of Children
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="1" id="childrenNumber" [(ngModel)]="childrenNumber" (change)="tourPackageChange()"  />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
            Base Cost per child
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="8" id="childBaseCost" [(ngModel)]="childBaseCost" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
            Taxes/Service per child
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="7" id="taxesPerChild" [(ngModel)]="taxesPerChild" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Insurance per child
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="7" id="insurancePerChild" [(ngModel)]="insurancePerChild" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
            Number of Infants
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="1" id="infantNumber" [(ngModel)]="infantNumber" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Total cost per infant
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="7" id="totalCostPerInfant" [(ngModel)]="totalCostPerInfant" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Deposit Paid
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="9" id="depositPaid" [(ngModel)]="depositPaid" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          The total cost of Holiday
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required id="totalCostHoliday" [(ngModel)]="totalCostHoliday" (change)="tourPackageChange()"  />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Less Deposit Paid
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required id="lessDepositPaid" [(ngModel)]="lessDepositPaid" (change)="tourPackageChange()" />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Balance to be Paid
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required id="balanceToBePaid" [(ngModel)]="balanceToBePaid" (change)="tourPackageChange()"   />                
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Balance Due Date
        </div>
        
        <div class="col">
            <input type="text" class="form-control" ngbDatepicker #d="ngbDatepicker" (focus)="d.open()"  placeholder="yyyy-mm-dd"   [(ngModel)]="balanceDueDate" required (change)="tourPackageChange()"  />
            <!-- <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Select</button>required (change)="tourPackageChange()"   -->     
        </div>      
      </div>
  
      <div class="row">
        <div class="col"> 
          Commision Amount
        </div>
        
        <div class="col">
          <input type="text" class="form-control" required maxlength="8" id="commisionAmount"  [(ngModel)]="commisionAmount" (change)="tourPackageChange()" />                
        </div>      
      </div>
    </div>
  

<!--</form>-->