<form [formGroup]="cancelForm">
  <div class="cancelContainer">

    <div class="row form-group">
      <div class="col-4">Requestor:</div>
      <div class="col-8">
        <input type="text" class="form-control" id="requestor" name="requestor" formControlName="requestor"
          maxlength="35" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-4">Notes:</div>
      <div class="col-8">
        <input type="text" class="form-control" id="desc1" name="desc1" formControlName="desc1" maxlength="35" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-4"></div>
      <div class="col-8">
        <input type="text" class="form-control" id="desc2" name="desc2" formControlName="desc2" maxlength="35" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-4">Segments: </div>
      <div class="col-8">
        <label formArrayName="segments" *ngFor="let name of cancelForm.controls.segments.controls; let i = index"
          class="col-8">
          <input type="checkbox" [formControlName]="i" (change)="checkSegmentAirline()">
          {{segments[i].name}}
        </label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-4"></div>
      <div class="col-8">
        If any segment contains GK status call vendor directly to cancel.
      </div>
    </div>

    <div *ngIf="isAC">


      <div class="row form-group">
        <div class="col-4">AC Reason For Cancel: </div>
        <div class="col-8">
          <select id="reasonACCancel" class="form-control" formControlName="reasonACCancel" name="reasonACCancel"
            (change)="acChange($event.target.value)">
            <option *ngFor="let item of reasonAcList" [value]="item.itemValue">
              {{item.itemText}}
            </option>
          </select>
        </div>
      </div>

      <!-- <div class="row form-group">
        <div class="col-sm-4"></div>
        <div class="col-8">
          <div class="">AC Ticket No:</div>
          <input type="text" class="form-control" id="acTicketNo" formControlName="acTicketNo" name="acTicketNo" />
        </div>
      </div> -->

      <div class="row form-group">
        <div class="col-sm-4"></div>
        <div class="col-4">
          <div class="">AC Ticket No:</div>
          <input type="text" class="form-control" id="acTicketNo" formControlName="acTicketNo" name="acTicketNo" />
        </div>

        <div class="col-4">
          <div class="">Passenger No:</div>
          <input type="text" class="form-control" id="acpassengerNo" formControlName="acpassengerNo"
            name="acpassengerNo" />
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4"></div>
        <div class="col-4">
          <div class="">AC Flight No:</div>
          <input type="text" class="form-control" id="acFlightNo" formControlName="acFlightNo" name="acFlightNo" />
        </div>

        <div class="col-4">
          <div class="">City Pair:</div>
          <input type="text" class="form-control" id="accityPair" formControlName="accityPair" name="accityPair" />
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col-4">
          <div class="">AC Departure Date:</div>
          <input type="date" class="form-control" id="acdepDate" name="acdepDate" formControlName="acdepDate" />
        </div>
        <div class="col-4">
          <div class="">Relationship:</div>
          <input type="text" class="form-control" id="relationship" formControlName="relationship"
            name="relationship" />
        </div>
      </div>
    </div>

    <div *ngIf="isUA">
      <div class="row form-group">
        <div class="col-4">UA Reason For Cancel: </div>
        <div class="col-8">
          <select id="reasonUACancel" class="form-control" formControlName="reasonUACancel" name="reasonUACancel"
            (change)="uaChange($event.target.value)">
            <option *ngFor="let item of reasonUaList" [value]="item.itemValue">
              {{item.itemText}}
            </option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-4"></div>
        <div class="col-4">
          <div class="">UA Segment No:</div>
          <input type="text" class="form-control" id="uasegNo" formControlName="uasegNo" name="uasegNo" />
        </div>

        <div class="col-4">
          <div class="">UA Passenger No:</div>
          <input type="text" class="form-control" id="uaPassengerNo" formControlName="uaPassengerNo"
            name="uaPassengerNo" />
        </div>
      </div>

    </div>

    <div class="row form-group">
      <div class="col-4">Affected Airline No:</div>
      <div class="col-8">
        <input type="text" class="form-control" id="airlineNo" name="airlineNo" formControlName="airlineNo"
          maxlength="35" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-4">
        <div class="">Ticket No:</div>
        <input type="text" class="form-control" id="ticket1" formControlName="ticket1" name="ticket1" />
      </div>

      <div class="col-4">
        <div class="">Coupons :</div>
        <input type="text" class="form-control" id="coupon1" formControlName="coupon1" name="coupon1" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-4">
        <input type="text" class="form-control" id="ticket2" formControlName="ticket2" name="ticket2" />
      </div>

      <div class="col-4">
        <input type="text" class="form-control" id="coupon2" formControlName="coupon2" name="coupon2" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-4">
        <input type="text" class="form-control" id="ticket3" formControlName="ticket3" name="ticket3" />
      </div>

      <div class="col-4">
        <input type="text" class="form-control" id="coupon3" formControlName="coupon3" name="coupon3" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-4">
        <input type="text" class="form-control" id="ticket4" formControlName="ticket4" name="ticket4" />
      </div>

      <div class="col-4">
        <input type="text" class="form-control" id="coupon4" formControlName="coupon1" name="coupon4" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-4">
        <input type="text" class="form-control" id="ticket5" formControlName="ticket5" name="ticket5" />
      </div>

      <div class="col-4">
        <input type="text" class="form-control" id="coupon5" formControlName="coupon5" name="coupon5" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-4">
        <input type="text" class="form-control" id="ticket6" formControlName="ticket6" name="ticket6" />
      </div>

      <div class="col-4">
        <input type="text" class="form-control" id="coupon6" formControlName="coupon6" name="coupon6" />
      </div>
    </div>



  </div>

</form>