<form [formGroup]="cancelForm">
  <div class="cancelContainer">

    <div class="row form-group">
      <div class="col-4">Requestor:</div>
      <div class="col-8">
        <input type="text" class="form-control" id="requestor" name="requestor" formControlName="requestor"
          maxlength="35" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-4"></div>
      <div class="col-8 note">
        Please specify what has been cancelled, include Non Refundable
        <br>
        Amounts and Waiver Info if applicable. (Mandatory)
      </div>
    </div>
    <div class="row form-group">
      <div class="col-4">Notes:</div>
      <div class="col-8">
        <input type="text" class="form-control" id="desc1" name="desc1" formControlName="desc1" maxlength="35" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-4"></div>
      <div class="col-8">
        <input type="text" class="form-control" id="desc2" name="desc2" formControlName="desc2" maxlength="35" />
      </div>
    </div>


    <div class="row form-group">
      <div class="col-4"></div>
      <div class="col-8 note">
        Note: If any segment contains GK status call vendor directly to cancel.
      </div>
    </div>

    <div class="row form-group">
      <div class="col-4">Segments: </div>
      <div class="col-8">
        <label formArrayName="segments"
          *ngFor="let name of this.cancelForm.controls.segments['controls']; let i = index">
          <input type="checkbox" [formControlName]="i" (change)="checkSegmentAirline()">
          {{segments[i].name}}
        </label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-4"> </div>
      <div class="col-8 emphasize">
        <input type="checkbox" name="cancelAll" formControlName="cancelAll" id="cancelAll"
          (change)="cancelAll($event.target.checked)" />
        Cancel All Segments
      </div>
    </div>
    <!-- <div *ngIf="f.cancelNonRefAC.value === true">
        <div class="row form-group">
        <div class="col-4"> </div>
        <div class="col-8">
          <input type="checkbox" name="cancelNonRefAC" formControlName="cancelNonRefAC" id="cancelNonRefAC"
            (change)="changeNonRefAC()" />
          Are you cancelling non refundable AC flight(s) due to IROP or schedule change?
        </div>
      </div> -->
    <!-- <div *ngIf="f.cancelNonRefAC.value === true"> -->
    <div>
      <div class="row form-group">
        <div class="col-4">Reason For Cancel: </div>
        <div class="col-8">
          <select id="reasonACCancel" class="form-control" formControlName="reasonACCancel" name="reasonACCancel"
            (change)="acChange($event.target.value)">
            <option *ngFor="let item of reasonAcList" [value]="item.itemValue">
              {{item.itemText}}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="isAC">
        <div *ngIf="f.reasonACCancel.value !== ''">
          <div class="row form-group">
            <div class="col-sm-4"></div>
            <div class="col-4">
              <div class="">AC Ticket Number:</div>
              <input type="text" class="form-control" id="acTicketNo" formControlName="acTicketNo" name="acTicketNo"
                (change)="acTicketChange($event.target.value)" />
            </div>

            <div class="col-4">
              <div class="">Passenger Name Number:</div>
              <input type="text" class="form-control" id="acpassengerNo" formControlName="acpassengerNo"
                name="acpassengerNo" />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-4"></div>
            <div class="col-4">
              <div class="">AC Flight Number:</div>
              <input type="text" class="form-control" id="acFlightNo" formControlName="acFlightNo" name="acFlightNo" />
            </div>

            <div class="col-4">
              <div class="">City Pair:</div>
              <input type="text" class="form-control" id="accityPair" formControlName="accityPair" name="accityPair" />
            </div>
          </div>

          <div class="form-group  row">
            <div class="col-sm-4"></div>
            <div class="col-4">
              <div class="">AC Departure Date:</div>
              <input type="date" class="form-control" id="acdepDate" name="acdepDate" formControlName="acdepDate" />
            </div>
            <div class="col-4">
              <div class="">Relationship:</div>
              <input type="text" class="form-control" id="relationship" formControlName="relationship"
                name="relationship" />
            </div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="">Type the affected airline flight number(s)</div>
          <input type="text" class="form-control" id="airlineNo" name="airlineNo" formControlName="airlineNo"
            maxlength="35" />
          <div class="">Ex. Single flight AC4519, Multiple flights AC4519/AC1234/AC5678</div>
        </div>
      </div>
    </div>




    <div *ngIf="isUA">

      <div class="row form-group">
        <div class="col-4">UA Reason For Cancel: </div>
        <div class="col-8">
          <select id="reasonUACancel" class="form-control" formControlName="reasonUACancel" name="reasonUACancel"
            (change)="uaChange($event.target.value)">
            <option *ngFor="let item of reasonUaList" [value]="item.itemValue">
              {{item.itemText}}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="f.reasonUACancel.value === '1'" class="row form-group">
        <div class="col-sm-4"></div>
        <div class="col-4">
          <div class="">UA Itinerary Segment Number:</div>
          <input type="text" class="form-control" id="uasegNo" formControlName="uasegNo" name="uasegNo" />
        </div>

        <div class="col-4">
          <div class="">Passenger Name Number:</div>
          <input type="text" class="form-control" id="uaPassengerNo" formControlName="uaPassengerNo"
            name="uaPassengerNo" />
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4"></div>
      <div class="col-3">Ticket Number:</div>
      <div class="col-3">Coupon Number:</div>
    </div>

    <div formArrayName="tickets" *ngFor="let item of this.cancelForm.get('tickets')['controls']; let i = index">
      <div [formGroupName]="i" class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-3">
          <input type="text" formControlName="ticket" class="form-control" maxlength="25">
        </div>
        <div class="col-3">
          <input type="text" formControlName="coupon" class="form-control" maxlength="25">
        </div>
        <div *ngIf="remove" class="col-1">
          <i class="fas fa-minus-circle" id="remove" (click)="removeTicketCoupon(i)"> </i>
        </div>
        <div *ngIf="add" class="col-1">
          &nbsp;
          <i class="fas fa-plus-circle" id="add" (click)="addTicketCoupon()"></i>
        </div>
      </div>
    </div>
  </div>

</form>