USE Desktop_TEST
GO

BEGIN TRAN

       BEGIN TRY
       
        DECLARE @CreationUserIdentifier             NVARCHAR(150) 
        DECLARE @CreationTimestamp                  DATETIME = GETUTCDATE()
        DECLARE @ReasonCodeGroupId              INT
        DECLARE @ReasonCodeItemId           INT
		DECLARE @ReasonCodeTypeId INT =  (select max(ReasonCodeTypeId) from ReasonCodeType) + 1
        ------------------
        --- ROLLBACK
        ------------------
        --- US731
        SET @CreationUserIdentifier      = 'Amadeus CA Migration - US11196'
         
        DELETE FROM dbo.ReasonCodeGroupCountry              WHERE CreationUserIdentifier=@CreationUserIdentifier
        DELETE FROM dbo.ReasonCodeAlternativeDescription    WHERE CreationUserIdentifier=@CreationUserIdentifier
        DELETE FROM ReasonCodeProductTypeTravelerDescription WHERE CreationUserIdentifier=@CreationUserIdentifier
        DELETE FROM ReasonCodeTravelerDescription           WHERE CreationUserIdentifier=@CreationUserIdentifier
        DELETE FROM ReasonCodeProductTypeDescription        WHERE CreationUserIdentifier=@CreationUserIdentifier
        DELETE FROM dbo.ReasonCodeItem                      WHERE CreationUserIdentifier=@CreationUserIdentifier
        DELETE FROM dbo.ReasonCodeGroup                     WHERE CreationUserIdentifier=@CreationUserIdentifier       
        --DELETE FROM ReasonCodeProductType                   WHERE CreationUserIdentifier=@CreationUserIdentifier
      
	  INSERT INTO dbo.ReasonCodeType
           (ReasonCodeTypeId,ReasonCodeTypeDescription,CreationTimestamp,CreationUserIdentifier,LastUpdateTimestamp,LastUpdateUserIdentifier,VersionNumber)
      VALUES
           (@ReasonCodeTypeId,'EB Matrix Touch Reason',@CreationTimestamp,@CreationUserIdentifier,null,null,1)


        
        INSERT INTO  ReasonCodeGroup (ReasonCodeGroupName,EnabledFlag,EnabledDate,DeletedFlag,CreationUserIdentifier,CreationTimestamp,VersionNumber) 
        VALUES  ('Canada_Touch_Reason_Code',1, GETUTCDATE(),0,@CreationUserIdentifier,@CreationTimestamp,1)
              SET @ReasonCodeGroupId =  SCOPE_IDENTITY()

        --- HK Insert Hotel Realised and Hotel Missed


				
                          
        INSERT INTO ReasonCodeGroupCountry(CountryCode,ReasonCodeGroupId,CreationUserIdentifier,CreationTimestamp,VersionNumber) 
        VALUES  ('CA',@ReasonCodeGroupId,@CreationUserIdentifier,@CreationTimestamp,1)
      

        SET @ReasonCodeItemId  =  (SELECT TOP 1 ReasonCodeItemId FROM ReasonCodeItem where ReasonCodeGroupId=@ReasonCodeGroupId) -1
      
        COMMIT TRAN

    END TRY

BEGIN CATCH

       ROLLBACK TRAN

       PRINT 'ERROR OCCURRED! Rolled back transactions if there are any:' 
    PRINT ERROR_NUMBER() 
       PRINT 'Error Severity: ' 
    PRINT ERROR_SEVERITY() 
       PRINT 'Error State: ' 
    PRINT ERROR_STATE() 
       PRINT 'Error Procedure: ' 
    PRINT ERROR_PROCEDURE() 
       PRINT 'Error Line: ' 
    PRINT ERROR_LINE() 
       PRINT 'Error Message: ' 
    PRINT ERROR_MESSAGE(); 

END CATCH 

