
table {
    margin-top: 2px;
    font-size: 14px;
}
th {
    padding: 2px;
    font-weight: 600;
}
td {
    padding: 2px;
}


button {
    color: white !important;
    background-color: darkorange;
}