<div [formGroup]="ticketedForm" class="form-group" style="margin-top:10px;padding-left: 10px">
  <!-- <div class="row" style="border-bottom: 1px solid gray;margin-bottom: 2px;">
    <div class="col-2">Schedule Changed?</div>
    <div class="col-2">Ticketed Segment</div>
    <div class="col-2">Fee</div>
    <div class="col-2">Supplemental Fee</div>
    <div class="">&nbsp;&nbsp;&nbsp;</div>
    <div class="col-3">No Fee Code</div>
  </div> -->

  <table class="feeTable">
    <tr>
      <th width="50px"><div class="">Schedule Changed?</div></th>
      <th><div class="">Ticketed Segment</div></th>
      <th colspan="2"><div style="text-align: center">Fee</div></th>
      <th><div class="">Supplemental Fee</div></th>
      <th><div class=""></div></th>
      <th><div class="cl">No Fee Code</div></th>
    </tr>

    <tbody formArrayName="segments" *ngFor="let item of this.ticketedForm.get('segments')['controls']; let i = index">
      <tr [formGroupName]="i">
        <td widhth="50px">
          <div *ngIf="item.get('isExchange').value">
            <input
              type="checkbox"
              name="isChange"
              formControlName="isChange"
              id="isChange"
              (change)="processExchange(item, $event.target.checked)"
            />
          </div>
        </td>

        <td width="50px">
          <input type="text" class="form-control" name="segment" formControlName="segment" id="segment" readonly />
        </td>

        <td width="50px">
          <input type="text" class="form-control" formControlName="code" name="code" id="code" readonly (change)="feeChange(item)" />
        </td>
        <td width="50px">
          <input
            type="text"
            class="form-control"
            formControlName="fee"
            name="fee"
            id="fee"
            readonly
            (change)="feeChange(item)"
            AmountMask
          />
        </td>

        <td width="150px">
          <input
            type="text"
            class="form-control"
            formControlName="supplementalFee"
            name="supplementalFee"
            id="supplementalFee"
            readonly
            (change)="feeChange(item)"
          />
        </td>
        <td width="70px">
          <div (click)="addSupplementalFee(item)">
            <i class="fas fa-plus-circle {{ !supplementalFeeList || supplementalFeeList.length === 0 ? 'disabled' : '' }}" id="add"></i>
            Add Fee
          </div>
        </td>

        <td width="150px">
          <select
            class="form-control "
            id="noFeeCode"
            formControlName="noFeeCode"
            name="noFeeCode"
            (change)="noFeeChange(item, $event.target.value)"
          >
            <option value=""></option>
            <option *ngFor="let item of noFeeCodes" [value]="item.itemValue">
              {{ item.itemText }}
            </option>
          </select>
        </td>

        <input type="hidden" class="form-control" formControlName="feeType" name="feeType" id="feeType" />
      </tr>
    </tbody>
  </table>
</div>
