.fa-exclamation-circle {
  color: orange;
}

.fa-question-circle {
  color: #49b8f8;
}

.fa-thumbs-up {
  color: green;
}

.fa-exclamation-triangle {
  color: red;
}

.message {
  font-size: 14px;
}

.iconHolder {
  margin-left: 10px;
}

.note {
  margin-top: 20px;
  font-size: 11px;
}