<div class="form-group" style="padding:10px" [formGroup]="escRemarksForm">
    <div class="row">
        <div class="col-4">
            ESC remarks have been read? &nbsp;&nbsp;
        </div>
        <div class="w-10">
          <label class="control control-radio isESCRead">
            <input type="radio" name="isESCRead" formControlName="isESCRead" id="isESCRead" value="Y" />Yes &nbsp;&nbsp;
            <div class="control_indicator"></div>
          </label>
        </div>
        <div class="w-20">
          <label class="control control-radio isESCRead">
            <input type="radio" name="isESCRead" formControlName="isESCRead" id="isESCRead" value="N" /> No
            <div class="control_indicator"></div>
          </label>
        </div>
      </div>



</div>