<div class="modal-header">
  <div class="modal-title">{{ title }}</div>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="matrixAccountingForm">
    <div class="form-group  row">
      <div class="col-sm-4">TKT Line #:</div>
      <div class="col-sm-8">
        <input type="text" maxlength="4" class="form-control" id="tkMacLine" [(ngModel)]="accountingRemark.tkMacLine"
          name="tkMacLine" [ngModelOptions]="{ standalone: true }" disabled />
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4">Accounting Remark:</div>
      <div class="col-sm-8">
        <select autofocus id="accountingTypeRemark" class="form-control"
          [(ngModel)]="accountingRemark.accountingTypeRemark" formControlName="accountingTypeRemark"
          name="accountingTypeRemark" (change)="onChangeAccountingType($event.target.value)" required>
          <option *ngFor="let item of accountingRemarkList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row" *ngIf="accountingRemark.accountingTypeRemark === 'ACPR'">
      <div class="col-sm-4">Airline Corporate Pass:</div>
      <div class="col-sm-8" *ngIf="title === 'Add Accounting Remarks'">

        <select id="airlineCorporatePassSelection" class="form-control" formControlName="airlineCorporatePassId"
          name="airlineCorporatePassId" required>
          <option></option>
          <option *ngFor="let item of airlineCorporatePasses" [value]="item.id">
            {{ item.airlineCode }}/{{ item.name }}.{{ item.fareType }}/{{ item.number }}
          </option>
        </select>
      </div>
      <div class="col-sm-8" *ngIf="title === 'Update Accounting Remarks'">
        <select id="airlineCorporatePassSelection" class="form-control" formControlName="airlineCorporatePassId"
          name="airlineCorporatePassId" required>
          <option></option>
          <option *ngFor="let item of airlineCorporatePasses" [value]="accountingRemark.airlineCorporatePass.id"
            [selected]="item.id == accountingRemark.airlineCorporatePass.id">
            {{ item.airlineCode }}/{{ item.name }}.{{ item.fareType }}/{{ item.number }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'NONBSP'"
      class=" row form-group">
      <div class="col-4"></div>
      <div class="col-8">
        <input type="checkbox" name="nonbspexchange" formControlName="nonbspexchange" id="nonbspexchange"
          (click)=" changetoExchange($event.target.checked)" />
        Using Non Refundable ticket from Document Bank
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'NONBSP' 
      || accountingRemark.accountingTypeRemark === 'APAY' 
      || accountingRemark.accountingTypeRemark === 'NONBSPEXCHANGE' 
      || accountingRemark.accountingTypeRemark === 'ACPR'
      || accountingRemark.accountingTypeRemark === 'RAIL'">
      <div class="form-group  row">
        <div class="col-sm-4">Itinerary Segments:</div>
        <div class="col-sm-8">
          <app-segment-select formControlName="segmentNo" [(ngModel)]="accountingRemark.segmentNo" name="segmentNo"
            id="segmentNo" #segmentApp (change)="checkSupplierCode()"></app-segment-select>
        </div>
      </div>
    </div>
    <div *ngIf="accountingRemark.accountingTypeRemark === 'ACPR'">
      <div class="form-group  row">
        <div class="col-sm-4">Segments Count:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="segmentsCount" name="segmentsCount" minlength="0"
            maxlength="maxSegmentsCount" id="segmentsCount" min="0">
        </div>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'APAY'">
      <div class="form-group  row">
        <div class="col-sm-4">Description:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="descriptionapay" id="descriptionapay"
            list="dynamicSupplierCode1" [(ngModel)]="accountingRemark.descriptionapay" AllCapsMask
            formControlName="descriptionapay" (change)="descriptionChanged($event.target.value)" required />
          <datalist id="dynamicSupplierCode1">
            <option *ngFor="let item of descriptionList" [value]="item.itemValue">{{ item.itemValue }} </option>
          </datalist>
        </div>
      </div>
    </div>

    <div *ngIf="showOtherDescription">
      <div class="form-group  row">
        <div class="col-sm-4">Other Cost Description: </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="otherDescription"
            [(ngModel)]="accountingRemark.otherCostDescription" formControlName="otherDescription" required
            formControlName="otherDescription" name="otherDescription" />
        </div>
      </div>
    </div>


    <div *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'">

      <div class="row form-group">
        <div class="col-4"> </div>
        <div class="col-8 emphasize">
          <input type="checkbox" name="cancelAll" formControlName="cancelAll" id="cancelAll"
            (change)="cancelAll($event.target.checked)" />
          Cancel All Segments
        </div>
      </div>


      <div class="row form-group">
        <div class="col-4">Segments:</div>
        <div class="col-8">
          <label>
            <div formArrayName="segments"
              *ngFor="let name of this.matrixAccountingForm.controls.segments['controls']; let i = index">
              <input type="checkbox" [formControlName]="i" (change)="onCheckChange()">
              {{segments[i].name}}
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">Supplier Code:</div>
      <div class="col-sm-8">

        <input type="text" class="form-control" placeholder="select a supplier Code" formControlName="supplierCodeName"
          id="supplierCodeName" list="dynamicSupplierCode" [(ngModel)]="accountingRemark.supplierCodeName" AllCapsMask
          formControlName="supplierCodeName" />
        <datalist id="dynamicSupplierCode">
          <option *ngFor="let item of filterSupplierCodeList" [value]="item.supplierCode">{{ item.supplierCode }} -
            {{ item.supplierName }}</option>
        </datalist>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark !== 'APAY'" class="form-group  row">
      <div class="col-sm-4">
        <label id="confirmationLabel">{{ name }}</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="supplierConfirmatioNo" formControlName="supplierConfirmatioNo"
          [(ngModel)]="accountingRemark.supplierConfirmatioNo" formControlName="supplierConfirmatioNo"
          name="supplierConfirmatioNo" required AlphaNumericMask />
      </div>
    </div>

    <div *ngIf="!isStandAlone">
      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">Base Amount<span *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'"> On Fee</span> :
          </div>
          <input type="text" class="form-control" id="baseAmount" [(ngModel)]="accountingRemark.baseAmount"
            maxlength="10" formControlName="baseAmount" name="baseAmount" required placeholder="00.00" AmountMask />
        </div>

        <div class="col">
          <div class="">GST <span *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'"> On Fee</span>:</div>
          <input type="text" class="form-control" id="gst" formControlName="gst" [(ngModel)]="accountingRemark.gst"
            maxlength="8" formControlName="gst" name="gst" required placeholder="00.00" AmountMask />
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">HST <span *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'"> On Fee</span>:</div>
          <input type="text" class="form-control" id="hst" formControlName="hst" [(ngModel)]="accountingRemark.hst"
            maxlength="8" formControlName="hst" name="hst" required placeholder="00.00" AmountMask />
        </div>

        <div class="col">
          <div class="">QST <span *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'"> On Fee</span>:</div>
          <input type="text" class="form-control" id="qst" formControlName="qst" [(ngModel)]="accountingRemark.qst"
            maxlength="8" formControlName="qst" name="qst" required placeholder="00.00" AmountMask />
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="">Other Tax <span *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'"> On Fee</span>:</div>
          <input type="text" class="form-control" id="otherTax" formControlName="otherTax"
            [(ngModel)]="accountingRemark.otherTax" formControlName="otherTax" name="otherTax" required maxlength="8"
            placeholder="00.00" AmountMask />
        </div>

        <div class="col" *ngIf="accountingRemark.accountingTypeRemark !== 'APAY'">
          <div class="">Commission ($) <span *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'"></span>:</div>
          <input type="text" class="form-control" id="commisionWithoutTax" formControlName="commisionWithoutTax"
            [(ngModel)]="accountingRemark.commisionWithoutTax" name="commisionWithoutTax" required placeholder="00.00"
            maxlength="8" AmountMask required />
        </div>
      </div>
    </div>

    <div *ngIf="isStandAlone">
      <div class="form-group  row">
        <div class="col-sm-4">Commission ($)</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="commisionWithoutTax" formControlName="commisionWithoutTax"
            [(ngModel)]="accountingRemark.commisionWithoutTax" name="commisionWithoutTax" required placeholder="00.00"
            maxlength="8" AmountMask required />
        </div>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'">
      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">Base Amount Refund:</div>
          <input type="text" class="form-control" id="baseAmountRefund" [(ngModel)]="accountingRemark.baseAmountRefund"
            maxlength="10" formControlName="baseAmountRefund" name="baseAmountRefund" required placeholder="00.00"
            AmountMask />
        </div>

        <div class="col">
          <div class="">GST Tax Refund:</div>
          <input type="text" class="form-control" id="gstRefund" [(ngModel)]="accountingRemark.gstRefund" maxlength="8"
            formControlName="gstRefund" name="gstRefund" placeholder="00.00" AmountMask />
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">HST Tax Refund:</div>
          <input type="text" class="form-control" id="hstRefund" [(ngModel)]="accountingRemark.hstRefund" maxlength="10"
            formControlName="hstRefund" name="hstRefund" placeholder="00.00" AmountMask />
        </div>

        <div class="col">
          <div class="">QST Tax Refund:</div>
          <input type="text" class="form-control" id="qstRefund" [(ngModel)]="accountingRemark.qstRefund" maxlength="8"
            formControlName="qstRefund" name="qstRefund" placeholder="00.00" AmountMask />
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">Other Tax Refund:</div>
          <input type="text" class="form-control" id="otherTaxRefund" [(ngModel)]="accountingRemark.otherTaxRefund"
            maxlength="10" formControlName="otherTaxRefund" name="otherTaxRefund" placeholder="00.00" AmountMask />
        </div>
        <div class="col">
          <div class="">

          </div>
        </div>
      </div>
      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">Commision Refund:</div>
          <input type="text" class="form-control" id="commisionRefund" [(ngModel)]="accountingRemark.commisionRefund"
            maxlength="10" formControlName="commisionRefund" name="commisionRefund" required placeholder="00.00"
            AmountMask />
        </div>
        <div class="col">
          <div class="">OID Orig Ticket Issue</div>
          <input type="text" class="form-control" id="oidOrigTicketIssue"
            [(ngModel)]="accountingRemark.oidOrigTicketIssue" maxlength="10" formControlName="oidOrigTicketIssue"
            name="oidOrigTicketIssue" required />
        </div>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'NONBSPEXCHANGE'">
      <div class="form-group  row">
        <div class="col-sm-4"></div>
        Penalty:
      </div>
      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">Penalty Amount:</div>
          <input type="text" class="form-control" id="penaltyBaseAmount"
            [(ngModel)]="accountingRemark.penaltyBaseAmount" formControlName="penaltyBaseAmount" maxlength="10"
            name="penaltyBaseAmount" required placeholder="00.00" AmountMask />
        </div>

        <div class="col">
          <div class="">GST on Penalty:</div>
          <input type="text" class="form-control" id="penaltyGst" [(ngModel)]="accountingRemark.penaltyGst"
            maxlength="8" formControlName="penaltyGst" name="penaltyGst" required placeholder="00.00" AmountMask />
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="">HST on Penalty:</div>
          <input type="text" class="form-control" id="penaltyHst" formControlName="penaltyHst" maxlength="8"
            [(ngModel)]="accountingRemark.penaltyHst" name="penaltyHst" required placeholder="00.00" AmountMask />
        </div>

        <div class="col">
          <div class="">QST on Penalty:</div>
          <input type="text" class="form-control" id="penaltyQst" formControlName="penaltyQst" maxlength="8"
            [(ngModel)]="accountingRemark.penaltyQst" formControlName="penaltyQst" name="penaltyQst" required
            placeholder="00.00" AmountMask />
        </div>
      </div>
    </div>

    <div class="form-group  row">
      <div class="col-sm-4">{{ ticketNumber }}</div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="tktLine" formControlName="tktLine"
          [(ngModel)]="accountingRemark.tktLine" name="tktLine" NumberOnlyMask maxlength="10" />
      </div>
    </div>
    <div *ngIf="accountingRemark.accountingTypeRemark === 'ACPPC'">
      <div class="form-group  row">
        <div class="col-sm-4">Additional Details</div>
        <div class="col-sm-8">
          <textarea type="text" class="form-control" id="additionalInfo" formControlName="additionalNotes1"
            [(ngModel)]="accountingRemark.additionalNotes1" name="additionalNotes1" maxlength="40"></textarea>
        </div>
      </div>
      <div class="form-group  row">
        <div class="col-sm-4">Notes</div>
        <div class="col-sm-8">
          <textarea type="text" class="form-control" id="additionalNotes2" formControlName="additionalNotes2"
            [(ngModel)]="accountingRemark.additionalNotes2" name="additionalNotes2" maxlength="40"></textarea>
        </div>
      </div>
      <div class="form-group  row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8 noteText">
          *If Client paid by Cheque, you must complete a Cheque Requisition.<br>A Cheque Requisition for Commission
          Recall may also be necessary.
        </div>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'NONBSPEXCHANGE'" class="form-group row">
      <div class="col-sm-4">Original Ticket Number:</div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="originalTktLine" formControlName="originalTktLine"
          [(ngModel)]="accountingRemark.originalTktLine" formControlName="originalTktLine" name="originalTktLine"
          NumberOnlyMask maxlength="10" />
      </div>
    </div>

    <div *ngIf="
        accountingRemark.accountingTypeRemark === 'ACPP' ||
        accountingRemark.accountingTypeRemark === 'WCPP' ||
        accountingRemark.accountingTypeRemark === 'PCPP' ||
        accountingRemark.accountingTypeRemark === 'ANCPP' ||
        accountingRemark.accountingTypeRemark === 'PCCPP'
      ">
      <div class="form-group row">
        <div class="col-sm-4">Departure City:</div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="departureCity" formControlName="departureCity"
            [(ngModel)]="accountingRemark.departureCity" formControlName="departureCity" name="departureCity"
            NumberOnlyMask maxlength="3" AlphaMask />
        </div>
      </div>

      <div>
        <div class="form-group  row">
          <div class="col-sm-4">Pass Purchase Type:</div>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="passPurchase" id="passPurchase"
              list="dynamicPassPurchase" [(ngModel)]="accountingRemark.passPurchase" AllCapsMask
              formControlName="passPurchase" required />
            <datalist id="dynamicPassPurchase">
              <option *ngFor="let item of passPurchaseList" [value]="item.itemValue">{{item.itemText}} </option>
            </datalist>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="accountingRemark.accountingTypeRemark === 'ACPP' || (needFaretype && accountingRemark.accountingTypeRemark
      === 'NONBSPEXCHANGE')" class="form-group row">
      <div class="col-sm-4">Fare Type:</div>
      <div class="col-sm-8">
        <select autofocus id="fareType" class="form-control" name="fareType" [(ngModel)]="accountingRemark.fareType"
          formControlName="fareType" required>
          <option *ngFor="let item of fareTypeList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="isStandAlone && accountingRemark.accountingTypeRemark !== 'ACPP'" class="form-group row">
      <div class="col-sm-4">Fare Type:</div>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="fareType" id="fareType"
          [(ngModel)]="accountingRemark.fareType" formControlName="fareType" />
      </div>
    </div>

    <div *ngIf="isGdsFareRequired">
      <div class="form-group row">
        <div class="col-sm-4">
          <span *ngIf="accountingRemark.accountingTypeRemark !== 'ACPR'">GDS Fare:</span>
          <span *ngIf="accountingRemark.accountingTypeRemark === 'ACPR'">Lowest GDS Fare:</span>
        </div>
        <div class="col-sm-8">
          <div *ngIf="accountingRemark.accountingTypeRemark !== 'ACPR'">
            <input type="text" class="form-control" formControlName="gdsFare" id="gdsFare"
              [(ngModel)]="accountingRemark.gdsFare" formControlName="gdsFare" placeholder="0.00" />
          </div>
          <div *ngIf="accountingRemark.accountingTypeRemark === 'ACPR'">
            <input type="text" class="form-control" formControlName="gdsFare" id="gdsFare"
              [(ngModel)]="accountingRemark.gdsFare" formControlName="gdsFare" placeholder="0" step="1"
              pattern="[0-9]*" />
            <p class="text-muted">
              Please manually calculate your Lowest GDS Fare.  Base Fare Only, do not include Tax or Cents.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="accountingRemark.accountingTypeRemark === 'NONBSPEXCHANGE'">
      <div class="col-sm-4">Consultant No:</div>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="consultantNo" id="consultantNo"
          [(ngModel)]="accountingRemark.consultantNo" formControlName="consultantNo" placeholder="Optional"
          maxlength="3" />
      </div>
    </div>

    <div *ngIf="isStandAlone">
      <div class="form-group  row">
        <div class="col-sm-4">Vendor Code:</div>
        <div class="col-sm-8">
          <select autofocus id="vendorCode" class="form-control" name="vendorCode"
            [(ngModel)]="accountingRemark.vendorCode" formControlName="vendorCode" required>
            <option *ngFor="let item of vendorCodeList" [value]="item.itemValue">
              {{ item.itemText }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4">Card Number:</div>
        <div class="col">
          <input type="cardNumber" class="form-control" id="ccNo" [(ngModel)]="accountingRemark.cardNumber"
            maxlength="16" formControlName="cardNumber" name="cardNumber" NumberOnlyMask />
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="expDate" required formControlName="expDate" name="expDate"
            placeholder="MM/YY" [(ngModel)]="accountingRemark.expDate" CCDateExpMask formControlName="expDate" />
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-4">Admin Fee Billing Type:</div>
        <div class="col-sm-8">
          <select autofocus id="billingType" class="form-control" name="billingType"
            [(ngModel)]="accountingRemark.billingType" formControlName="billingType" required>
            <option *ngFor="let item of billingTypeList" [value]="item.itemValue">
              {{ item.itemText }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">Enter the Admin Fee Amount:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="feeAmount" formControlName="feeAmount" maxlength="8"
            [(ngModel)]="accountingRemark.feeAmount" name="feeAmount" required placeholder="00.00" AmountMask />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">Per Segment Cost:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="segmentCost" formControlName="segmentCost" maxlength="8"
            [(ngModel)]="accountingRemark.segmentCost" name="segmentCost" required placeholder="00.00" AmountMask />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">Pass Expiry Date:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="passExpDate" required formControlName="passExpDate"
            name="passExpDate" placeholder="MM/YY" [(ngModel)]="accountingRemark.passExpDate" CCDateExpMask
            formControlName="passExpDate" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveAccounting()"
    [disabled]="matrixAccountingForm.invalid">
    Save
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">
    Close
  </button>
</div>