<div class="loaderBody">
  <div class="loader">
    <div>Corporate <span class="cwt-logo"></span></div>
    <div>
      <button class="leisureButton btnMenu">
        Add Segment
      </button>
    </div>
    <div>
      <button class="leisureButton btnMenu">
        Full Wrap PNR
      </button>
    </div>
    <div>
      <button class="leisureButton btnMenu">
        Send Invoice/Itinerary
      </button>
    </div>
    <div>
      <button class="leisureButton btnMenu">
        Cancel Segments
      </button>
    </div>
  </div>
</div>
