<div *ngIf="workflow === 'wrap'">
    <accordion [closeOthers]="false">
        <accordion-group [panelClass]="'customClass'">
            <div accordion-heading>
                <i class="fas fa-hand-holding-usd"></i> Payment
                <!-- <i [ngClass]="validModel.paymentValidCss"></i> -->
                <span class="cwt-logo"></span>
            </div>
            <app-payments></app-payments>
        </accordion-group>
        <accordion-group [panelClass]="'customClass'">
            <div accordion-heading>
                <i class="fas fa-file-export"></i> Reporting
                <!-- <i [ngClass]="validModel.paymentValidCss"></i> -->
                <span class="cwt-logo"></span>
            </div>
            <app-reporting></app-reporting>
        </accordion-group>

        <accordion-group [panelClass]="'customClass'">
            <div accordion-heading>
                <i class="fas fa-ticket-alt"></i> Ticketing
                <!-- <i [ngClass]="validModel.paymentValidCss"></i> -->
                <span class="cwt-logo"></span>
            </div>
            <app-ticketing></app-ticketing>
        </accordion-group>
    </accordion>
    <br />

    <div class="form-group  row">
        <div class="col">
            <button class="leisureBtnSubmit" (click)="SubmitToPNR()">
                SUBMIT TO PNR
            </button>
            <button class="backMain" (click)="back()">Back To Main Menu</button>
        </div>
    </div>
</div>

<div *ngIf="workflow === ''" class="loaderBody">
    <div class="loader">
        <div>Corporate
            <span class="cwt-logo"></span>
        </div>
        <div>
            <button class="leisureButton btnMenu">
                Add Segment
            </button>
        </div>
        <div>
            <button class="leisureButton btnMenu" (click)="wrapPnr()">
                Full Wrap PNR
            </button>
        </div>
        <div>
            <button class="leisureButton btnMenu">
                Send Invoice/Itinerary
            </button>
        </div>
        <div>
            <button class="leisureButton btnMenu">
                Cancel Segments
            </button>
        </div>
    </div>
</div>

<div *ngIf="workflow === 'error'" class="loaderBody">
    <div class="loader">
        <div>
            <button class="leisureButton btnMenu" (click)="initData()">
                Reload
            </button>
        </div>
    </div>
</div>
<div *ngIf="dataError.hasError">
    <alert type="warning" dismissible="true">
        <div *ngIf="dataError.matching">Unable to Match PNR from PNR Layout</div>
        <div *ngIf="dataError.supplier">Unable to get Supplier Codes from DDB</div>
        <div *ngIf="dataError.servicingOption">Unable to Get Servicing Options</div>
        <div *ngIf="dataError.pnr">Unable to Load PNR</div>
        <div *ngIf="dataError.reasoncode">Unable to Reason Codes</div>
    </alert>
</div>