<form [formGroup]="reportingForm" class="form-group">
  <div class="col" *ngIf="isTripTypeCorporate">
    <br />
    <div class="row form-group">
      <div class="col-md-5 bsp-routing-remark">
        BSP Routing Code :
        <select
          id="bspRouteCode"
          class="form-control bsp-select-routing-remark"
          formControlName="bspRouteCode"
          name="bspRouteCode"
          (change)="getCountryDest($event.target.value)"
          required
        >
          <option *ngFor="let item of bspRouteCodeList" [value]="item.itemValue">
            {{ item.itemText }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <table *ngIf="showSegments" style="margin-top:10px;margin-left:20px;">
    <tr>
      <th width="130px">
        <div class="segmentTable">Segment(s)</div>
      </th>
      <th width="300px">
        <div class="segmentTable">Destination Code</div>
      </th>
    </tr>

    <tbody formArrayName="segments" *ngFor="let item of this.reportingForm.get('segments')['controls']; let i = index">
      <tr [formGroupName]="i">
        <td width="130px" class="segmentTable">
          <input type="text" class="form-control" name="segment" formControlName="segment" id="segment" readonly />
        </td>
        <td width="300px" class="segmentTable">
          <input
            type="text"
            class="form-control"
            formControlName="destinationList"
            name="destinationList"
            id="destinationList"
            list="dynamicDestinationCode"
            required
          />
          <datalist id="dynamicDestinationCode">
            <option *ngFor="let item of destinations" [value]="item">{{ item.endpoint }} </option>
          </datalist>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <app-obt></app-obt>
</form>
