<div class="ird-container">
  <div [formGroup]="irdGroup" width>
    <div class="row">
      <div class="col-4">
        IRD Number
      </div>
      <div class="col-2">
        IRD Status
      </div>
      <div class="col-2">
        Lowfare Status
      </div>
    </div>
    <div formArrayName="irdItems" *ngFor="let item of this.irdGroup.get('irdItems')['controls']; let i = index"
      class="col">
      <div [formGroupName]="i" class="row">
        <div class="col-4">
          <input type="text" name="irdNumber" formControlName="irdNumber" id="irdNumber" readonly />
        </div>
        <div class="col-2">
          <select autofocus id="irdStatus" class="form-control" formControlName="irdStatus" name="irdStatus"
            (change)="irdChangeValue($event.target.value)" required>
            <option *ngFor="let item of  listIrdStatus" [value]="item.itemValue">
              {{item.itemText}}
            </option>
          </select>
        </div>
        <div *ngIf="showLowStatus" class="col-2">
          <select autofocus id="lowSavingStatus" class="form-control" formControlName="lowSavingStatus"
            name="lowSavingStatus">
            <option *ngFor="let item of  listLowStatus" [value]="item.itemValue">
              {{item.itemText}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>