<div class="modal-header">
  <div class="modal-title">{{title}}</div>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="fareRuleForm">
    <div class="form-group row">
      <div class="col-sm-4">Airline :</div>
      <div class="col-sm-8">
        <select id="airlineCode" name="airlineCode" class="form-control" formControlName="airlineCode"
          (change)="executeCryptic($event.target.value)" [(ngModel)]="fareRules.segmentNo">
          <option *ngFor="let item of  airlines" [value]="item.lineNo">
            {{item.lineNo + ' ' + item.freeText}}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="showCrypticForm">
      <div class="form-group  row">
        <div class="col-sm-4">Departure/Arrival :</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="cityPair" name="cityPair" formControlName="cityPair"
            [(ngModel)]="fareRules.cityPair" />
        </div>
      </div>
      <!-- <div class="form-group  row">
        <div class="col-sm-4">City Pair :</div>
        <div class="col-sm-8">
          <div style="padding-bottom:10px" formArrayName="itemCityPair"
            *ngFor="let item of fareRuleForm.get('itemCityPair').controls; let i = index;">
            <div [formGroupName]="i">
              <table style="width:100%">
                <tr>
                  <td style="width:86%">
                    <input formControlName="cityPair" class="form-control">
                  </td>
                  <td style="width:14%">
                    <i class="fas fa-plus-circle iconPlus" (click)="addCityPair()"></i>
                    &nbsp;
                    <i class="fas fa-minus-circle iconRed" *ngIf="i > 0" (click)="removeCityPair(i)"></i>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="form-group  row" *ngIf="ShowFareRule">
      <div class="col-sm-4">Fare Rule :</div>
      <div class="col-sm-8">
        <select id="fareRuleList" class="form-control" name="fareRuleList" formControlName="fareRuleList" required
          [(ngModel)]="fareRules.fareRuleType">
          <!-- (change)="executeFareRuleCryptic($event.target.value)" -->
          <option *ngFor="let item of  fareRuleList" [value]="item.itemValue">
            {{item.itemText}}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="showOptionalFare">

      <div class="form-group  row">
        <div class="col-sm-4">Add Remarks:</div>
        <div class="col-sm-8">
          <input type="checkbox" name="isTicketNonRefundable" formControlName="isTicketNonRefundable"
            id="isTicketNonRefundable" [(ngModel)]="fareRules.isTicketNonRefundable" />&nbsp;&nbsp;Ticket
          Non-Refundable/No Changes <br />
          <input type="checkbox" name="isTicketMinMax" formControlName="isTicketMinMax"
            [(ngModel)]="fareRules.isTicketMinMax" id="isTicketMinMax"
            (change)="enableDisableBasedOnMinMax()" />&nbsp;&nbsp; Ticket has MIN/MAX Stay
          Requirements <br />
          <input type="checkbox" name="isTicketNonRef" formControlName="isTicketNonRef"
            [(ngModel)]="fareRules.isTicketNonRef" id="isTicketNonRef" />&nbsp;&nbsp; Non-Ref/Tkt Value may be applied
          for Future Travel<br />
        </div>
      </div>
      <div class="form-group  row">
        <div class="col-sm-4">Currency:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="select a currency" formControlName="currencyType"
            id="currencyType" list="dynamicCurrency" [(ngModel)]="fareRules.currencyType" />
          <datalist id="dynamicCurrency">
            <option *ngFor="let item of bspCurrencyList" [value]="item.itemValue">{{item.itemText}}</option>
          </datalist>
        </div>
      </div>
      <div class="form-group  row">
        <div class="col-sm-4">
          <input type="radio" formControlName="mode" name="mode" value="rbTicket" (change)="checkChanged()"
            [(ngModel)]="fareRules.mode">
          Ticket Amount:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="ticketAmount" name="ticketAmount"
            [(ngModel)]="fareRules.ticketAmount" formControlName="ticketAmount" AmountMask />
        </div>
      </div>

      <div class="form-group  row">
        <div class="col-sm-4"><input type="radio" formControlName="mode" name="mode" value="rbNonRefundable"
            (change)="checkChanged()" [(ngModel)]="fareRules.mode"> Non-Refundable %:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="nonRefundable" name="nonRefundable"
            formControlName="nonRefundable" [(ngModel)]="fareRules.nonRefundable" />
        </div>
      </div>
      <div class="form-group  row">
        <div class="col-sm-4">Minimum Change Fee:</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="minChangeFee" name="minChangeFee" formControlName="minChangeFee"
            [(ngModel)]="fareRules.minChangeFee" AmountMask />
        </div>
      </div>
      <!-- <div class="form-group  row">
        <div class="col-sm-4">Check-in w/ :</div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="checkInWith" name="checkInWith" formControlName="checkInWith"
            [(ngModel)]="fareRules.checkInWith" />
        </div>
      </div> -->
    </div>
    <div class="form-group  row">
      <div class="col-sm-4">Associated Remarks :</div>
      <div class="col-sm-8">
        <div style="padding-bottom:10px" formArrayName="items"
          *ngFor="let item of this.fareRuleForm.get('items')['controls']; let i = index;">
          <div [formGroupName]="i">
            <table style="width:100%">
              <tr>
                <td style="width:86%">
                  <input formControlName="remarkText" class="form-control">
                </td>
                <td style="width:14%">
                  <i class="fas fa-plus-circle iconPlus" (click)="addItem()"></i>
                  &nbsp;
                  <i class="fas fa-minus-circle iconRed" *ngIf="i > 0" (click)="removeInputField(i)"></i>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveFareRule()">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Close</button>

</div>