/* You can add global styles to this file, and also import other style files */

input,select {
 
  height: 30px;
  box-shadow: 0 0 9px 0 rgba(21, 161, 255, 0.4);
  border: solid 1px #15a1ff;
  background-color: #ffffff;
   color: black;
}