<div [formGroup]="airFareCommissionFormGroup" class="form-group">
  <div class="row">
    <div class="col-12" style="margin: 10px;">
      *Verify Applicable Commission using Google Favourites link to ACE Sharepoint Site
    </div>
  </div>
  <div class="row">
    <div class="col-1" style="width:3%"></div>
    <div class="col-3" style="width: 12%; text-align: left; padding-left: 25px;">
      Segments
    </div>
    <div class="col-3" style="width: 12%; text-align: left; padding-left: 25px;">
      Commission Type
    </div>
    <div class="col-3" style="width: 12%; text-align: left; padding-left: 25px;">
      Commission
    </div>
  </div>
  <div formArrayName="airFares" *ngFor="let item of this.airFareCommissionFormGroup.get('airFares')['controls']; let i = index" class="col">
    <div [formGroupName]="i" class="row">
      <div class="col-1" style="width:3%;padding-left:10px">
        <input type="checkbox" name="chkIncluded" formControlName="chkIncluded" id="formControlName" (change)="checkChange(item)" />
      </div>
      <div class="col-3" style="width:12%;text-align:left">
        <input formControlName="segments" type="text" class="form-control" readonly />
      </div>
      <div class="col-3" style="width:12%;text-align:left">
        <select id="commissionType" formControlName="commissionType" class="form-control" name="commissionType">
          <option *ngFor="let type of commissionTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
      <div class="col-3" style="width:12%;text-align:left">
        <input formControlName="commission" type="text" class="form-control" />
      </div>
    </div>
  </div>
</div>
