<div class="ticketing-container">
  <form [formGroup]="ticketForm">
    <div class="row form-group">
      <div class="col-4">
        <div>Office ID:</div>
        <div class="emphasize italicize">{{ oidDisplay }}</div>
        <input type="hidden" class="form-control" id="txtOfficeId" name="officeId" formControlName="officeId" maxlength="35" />
      </div>
    </div>

    <br />

    <div class="row form-group">
      <div class="col-6">
        <div>Ticketing Date for the PNR:</div>
        <input type="date" class="form-control" id="dtxtTicketDate" name="ticketDate" formControlName="ticketDate" required />
      </div>
      <div class="col-6">
        <div>
          <label class="emphasize">
            <input id="chkOnHold" type="checkbox" name="pnrOnHold" formControlName="pnrOnHold" (change)="onChangePnrOnHold()" /> PNR ON HOLD
          </label>
          <span class="italicize"> &nbsp; (PNR will be sent to Aqua QC) </span>
        </div>
        <div></div>
      </div>
    </div>

    <div *ngIf="!isOnHoldChecked">
      <br />

      <div class="row form-group">
        <div class="col-7">
          <div>TK Line:</div>
          <select class="form-control " id="selTK" formControlName="tk" name="tk" required>
            <option *ngFor="let tkItem of tkList" [value]="tkItem.itemValue"> {{ tkItem.itemText }} </option>
          </select>
        </div>
      </div>
    </div>

    <br />

    <div class="row form-group">
      <div class="col-6">
        <div>
          <label>
            <input id="chkVerifyAck" type="checkbox" name="verifyAck" formControlName="verifyAck" required /> I verify and acknowledge that
            all ticketing data are correct.
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="panel panel-default" *ngIf="hasApproval">
  <div class="panel-heading">Approval</div>
  <div class="panel-body form-group">
    <form [formGroup]="approvalForm">
      <div class="row">
        <div class="col-3">No Approval</div>
        <div class="col-8">
          <input
            type="checkbox"
            name="noApproval"
            id="noApproval"
            formControlName="noApproval"
            (change)="noApprovalChecked($event.target.checked)"
          />
          (Check if you dont want to execute approval process)
        </div>
      </div>
      <div class="row" *ngIf="primaryReasonList && primaryReasonList.length > 0">
        <div class="col-3">Primary Approval Reason:</div>
        <div class="col-8">
          <select
            class="form-control"
            name="primaryReason"
            id="primaryReason"
            formControlName="primaryReason"
            (change)="primaryReasonChange($event.target.selectedIndex)"
          >
            <option *ngFor="let item of primaryReasonList" [value]="item.approvalType">
              {{ item.approvalRules }}
            </option>
          </select>
        </div>
      </div>

      <div class="row" *ngIf="secondaryReasonList && secondaryReasonList.length > 0">
        <div class="col-3">Secondary Approval Reason:</div>
        <div class="col-8">
          <select
            class="form-control"
            name="secondaryReason"
            id="secondaryReason"
            formControlName="secondaryReason"
            (change)="showAdditionalInfo($event.target.selectedIndex)"
          >
            <option *ngFor="let item of secondaryReasonList" [value]="item.approvalType">
              {{ item.approvalRules }}
            </option>
          </select>
        </div>
      </div>
      <div formArrayName="additionalValues" *ngFor="let item of this.approvalForm.get('additionalValues')['controls']; let i = index">
        <div [formGroupName]="i">
          <div class="row" *ngIf="item.get('uiType').value == '[LABEL]'">
            <br />
            <div class="col-3"></div>
            <div class="col text-danger">
              {{ item.get('textLabel').value }}
            </div>
          </div>
          <div class="row" *ngIf="item.get('uiType').value == '[TEXTBOX]'">
            <div class="col-3">{{ item.get('textLabel').value }} :</div>
            <div class="col-4">
              <input type="text" class="form-control" name="textValue" id="textValue" formControlName="textValue" />
            </div>
          </div>
        </div>
      </div>
    </form>

    <tab *ngIf="hasRuleApproval">
      <app-container [containerFilter]="'APPROVAL'" style="margin-left: -20px;"></app-container>
    </tab>
  </div>
</div>
