.ticketing-container {
  padding: 10px;
}

.emphasize {
  font-weight: bold;
}

.italicize {
  font-style: italic;
}

.panel-default {
  margin: 10px;
}
.panel-default > .panel-heading {
  background-color: #f5f5f5d8;
  border-color: #ddd;
}
.panel-heading {
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-default > .panel-body {
  border: 1px solid;
  border: 1px solid #ddd;
  padding: 15px;
}
