<tabset>
  <tab heading="Reporting Remarks" id="tab1">
    <form [formGroup]="reportingForm">
      <div class="col">
        <br />
        <div class="row form-group">
          <div class="col">
            BSP Routing Code :
            <select id="bspRouteCode" class="form-control" formControlName="bspRouteCode" name="bspRouteCode"
              [(ngModel)]="reportingView.routeCode" required>
              <option *ngFor="let item of bspRouteCodeList" [value]="item.itemValue">
                {{ item.itemText }}
              </option>
            </select>
          </div>

          <div class="col">
            Destination Code:
            <input type="text" class="form-control" formControlName="destinationList" name="destinationList"
              placeholder="select a destination Code" [(ngModel)]="reportingView.destination" id="destinationList"
              list="dynamicDestinationCode" [disabled]="reportingView.isDisabledDest" />
            <datalist id="dynamicDestinationCode">
              <option *ngFor="let item of destinationList" [value]="item.endpoint">{{ item.endpoint }} </option>
            </datalist>
          </div>
        </div>

        <div class="">
          <div class="row form-group">
            <div class="col" *ngIf="isCVC">
              Name of Company Traveller Works For :
              <input class="form-control" [(ngModel)]="reportingView.companyName" id="companyName" [disabled]="!isCVC"
                formControlName="companyName" required maxlength="35" placeholder="e.g. CWT" required />
            </div>
          </div>
        </div>

        <div *ngIf="!isRbmRbp()">
          <div>
            <div class="row form-group">
              <div class="col">
                Insurance Liability Waiver
              </div>
            </div>

            <div class="row form-group">
              <div class="col">
                <select class="form-control" required id="showInsurance" name="showInsurance"
                  formControlName="showInsurance" (change)="checkInsurance($event.target.value)">
                  <option value="" disabled selected>Select Insurance Liability Waiver</option>
                  <option value="YES">All Inclusive or Premium Protection Insurance Purchased for the Full Value of the
                    Trip</option>
                  <option value="NO">Traveller Declined to Purchase the following Travel Insurance </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row form-group" *ngIf="!reportingView.showInsurance">
            <div class="col">
              Insurance Type:
              <label>
                <input type="checkbox" name="aa" formControlName="aa" value="1"
                  [(ngModel)]="reportingView.declinedOption[0].checked"
                  [checked]="reportingView.declinedOption[0].checked" />
                All Inclusive or Premium Protection Insurance
              </label>
              <label>
                <input type="checkbox" name="bb" formControlName="bb" value="2"
                  [(ngModel)]="reportingView.declinedOption[1].checked"
                  [checked]="reportingView.declinedOption[1].checked" />
                Cancellation/Interruption
              </label>
              <label>
                <input type="checkbox" name="cc" formControlName="cc" value="3"
                  [(ngModel)]="reportingView.declinedOption[2].checked" />
                Emergency Medical/Transportation</label>
              <label>
                <input type="checkbox" name="dd" formControlName="dd" value="4"
                  [(ngModel)]="reportingView.declinedOption[3].checked" />
                Flight and Travel Accident</label>
              <br />
              <label>
                <input type="checkbox" name="ee" formControlName="ee" value="5"
                  [(ngModel)]="reportingView.declinedOption[4].checked" />
                Rental Car Physical Damage</label>
              <label>
                <input type="checkbox" name="ff" formControlName="ff" value="6"
                  [(ngModel)]="reportingView.declinedOption[5].checked" />
                Coverage for the Full Dollar Value of the trip
              </label>
            </div>
            <div class="col">
              Insurance Declined Reason:
              <input type="text" class="form-control" formControlName="insuranceDeclinedReason" maxLength="35"
                [(ngModel)]="reportingView.insuranceDeclinedReason" id="insuranceDeclinedReason"
                [disabled]="reportingView.showInsurance" placeholder="Reason Why Insurance Declined" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </tab>
  <div class="ng-warning" *ngIf="warningMessage != ''">
    {{ warningMessage }}
  </div>
  <br />
  <tab *ngIf="isRbmRbp()" heading="Royal Bank - Concierge" id="tab2">
    <app-concierge-udids></app-concierge-udids>
  </tab>
</tabset>